## 1. Age

According to Santander Cycles Survey of Q2 2017/2018 their main target group depicts of people of between the age 16 and 54.<br>
They group their customers in the following age groups:

![](img/target.png)

As this plot shows they have more male users than female users, why we give maless a higher weight than females.<br>
Moreover we should weight the several age groups differently.

Population data of 2017 was found at the [Office for National Statistics](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland).

After preparing the data in a first way we have the age groups ordered by London districts:
### To Do:
* find data for 2018,2019
* assign districts to coordinates
* assign age to stations

In [1]:
import pandas as pd
import numpy as np

In [2]:
age = pd.read_csv("age.csv")
age.head()

                     Name  All ages  25-34  35-44  45-54  55-64    >65
0                  Camden    253361  54527  39552  30599  21676  30098
1          City of London      7654   1050   1002   1255   1024   1482
2                 Hackney    275929  70473  49206  31106  20243  20394
3  Hammersmith and Fulham    182998  40080  30736  24184  15855  19334
4                Haringey    271224  52469  48048  36933  24046  26628

## 2. Events
Extracted events from 2015-2019 from [Lodon Events](http://www.londontown.com/London/London-Events-2019).</br>
### To Do:
* extract days of datetime
* find coordinates to postalcodes
* assign events to stations

In [3]:
import json
import pandas as pd
with open('eventsdata/events-2015.json', 'r') as f:
    data15 = json.load(f)
dfRaw15= pd.DataFrame(data15)
df15=dfRaw15.assign(Year='2015')
df1 =df15.drop(['locality','url'],axis=1)
df1.head()

,dates,postcode,street,title,Year
0,05th - 06th June 2018,KT8 9AU,"East Molesey, Surrey",\nLionel Richie,2015
1,08th - 09th March 2019,SE1 8XX,Belvedere Road,\nWomen of the World Festival,2015
2,02nd - 14th March 2015,SW1E 5JA,12 Palace Street,\nRuby Wax: Sane New World,2015
3,03rd - 07th March 2015,TW9 1QJ,"The Green, Surrey",\nHarvey,2015
4,03rd - 14th March 2015,NW1 3BF,"15-16 Triton Street, Regents Place",\nCitizen Puppet,2015

In [4]:
with open('eventsdata/events-2016.json', 'r') as f:
    data16 = json.load(f)
dfRaw16= pd.DataFrame(data16)
df16=dfRaw16.assign(Year='2016')
df2 = df16.drop(['locality','url'],axis=1)
df2.head()

,dates,postcode,street,title,Year
0,01st July 2016,W2 2UH,Rangers Lodge,\nMassive Attack,2016
1,01st July - 06th August 2016,SW1W 8AS,Sloane Square,\nUnreachable,2016
2,"12th, 13th and 14th July 2019",W2 2UH,Rangers Lodge,\nBarclaycard presents British Summer Time Hyd...,2016
3,02nd July - 02nd October 2016,W1J 0BD,Burlington House,\nDavid Hockney RA: 79 Portraits and 2 Still L...,2016
4,02nd July 2016,W2 2UH,Rangers Lodge,"\nFlorence & The Machine, Kendrick Lamar, Jami...",2016

In [5]:
with open('eventsdata/events-2017.json', 'r') as f:
    data17 = json.load(f)
dfRaw17= pd.DataFrame(data17)
df17=dfRaw17.assign(Year='2017')
df3 = df17.drop(['locality','url'],axis=1)
df3.head()

,dates,postcode,street,title,Year
0,01st March - 03rd June 2017,WC2H 0HH,2 Charing Cross Road,\nThe Miser,2017
1,01st - 10th March 2017,SW7 2AP,Kensington Gore,\nRussell Howard: Round The World,2017
2,01st March - 17th June 2017,WC2R 0NH,404 Strand,\nStepping Out,2017
3,01st March - 15th October 2017,SE1 9PP,Upper Ground,\nThe Art of the Brick: DC Super Heroes,2017
4,02nd March - 15th April 2017,WC2H 9LD,"41 Earlham Street, Seven Dials",\nLimehouse,2017

In [6]:
with open('eventsdata/events-2018.json', 'r') as f:
    data18 = json.load(f)
dfRaw18= pd.DataFrame(data18)
df18=dfRaw18.assign(Year='2018')
df4 = df18.drop(['locality','url'],axis=1)
df4.head()

,dates,postcode,street,title,Year
0,01st March - 06th May 2018,EC1V 3SB,London,\nSOMNAI,2018
1,01st March 2018,SW9 9SL,211 Stockwell Road,\nMorrissey,2018
2,01st March - 20th May 2018,WC2H 0HE,St Martin's Place,\nVictorian Giants: The Birth Of Art Photography,2018
3,02nd March - 09th September 2018,SW1Y 4RL,63-65 Haymarket,\nBrief Encounter,2018
4,02nd March - 05th May 2018,SE1 8LZ,66 The Cut,\nThe Inheritance,2018

In [7]:
with open('eventsdata/events-2019.json', 'r') as f:
    data19 = json.load(f)
dfRaw19= pd.DataFrame(data19)
df19=dfRaw19.assign(Year='2019')
df5 = df19.drop(['locality','url'],axis=1)
df5.head()

,dates,postcode,street,title,Year
0,01st - 02nd March 2019,EC1R 4TN,Rosebery Avenue,\nRichard Alston Dance Company: Quartermark,2019
1,01st - 31st March 2019,W4 2RP,Burlington Lane,\nChiswick House Camellia Festival,2019
2,3rd March to 2nd June 2019,W1J 0BD,Burlington House,\nThe Renaissance Nude,2019
3,04th - 09th March 2019,TW9 1QJ,"The Green, Surrey",\nArt,2019
4,05th - 09th March 2019,EC1R 4TN,Rosebery Avenue,\nBalletBoyz: Them/Us,2019

In [8]:
frames = [df1, df2, df3,df4,df5]

final = pd.concat(frames)
f = final.assign(Month='0')
f.head()

,dates,postcode,street,title,Year,Month
0,05th - 06th June 2018,KT8 9AU,"East Molesey, Surrey",\nLionel Richie,2015,0
1,08th - 09th March 2019,SE1 8XX,Belvedere Road,\nWomen of the World Festival,2015,0
2,02nd - 14th March 2015,SW1E 5JA,12 Palace Street,\nRuby Wax: Sane New World,2015,0
3,03rd - 07th March 2015,TW9 1QJ,"The Green, Surrey",\nHarvey,2015,0
4,03rd - 14th March 2015,NW1 3BF,"15-16 Triton Street, Regents Place",\nCitizen Puppet,2015,0

In [9]:
f.loc[f['dates'].str.contains('January'), 'Month'] = 1
f.loc[f['dates'].str.contains('February'), 'Month'] = 2
f.loc[f['dates'].str.contains('March'), 'Month'] = 3
f.loc[f['dates'].str.contains('April'), 'Month'] = 4
f.loc[f['dates'].str.contains('May'), 'Month'] = 5
f.loc[f['dates'].str.contains('June'), 'Month'] = 6
f.loc[f['dates'].str.contains('July'), 'Month'] = 7
f.loc[f['dates'].str.contains('August'), 'Month'] = 8
f.loc[f['dates'].str.contains('September'), 'Month'] = 9
f.loc[f['dates'].str.contains('October'), 'Month'] = 10
f.loc[f['dates'].str.contains('November'), 'Month'] = 11
f.loc[f['dates'].str.contains('December'), 'Month'] = 12

f.loc[f['dates'].str.contains('2015'), 'Year'] = 2015
f.loc[f['dates'].str.contains('2016'), 'Year'] = 2016
f.loc[f['dates'].str.contains('2017'), 'Year'] = 2017
f.loc[f['dates'].str.contains('2018'), 'Year'] = 2018
f.loc[f['dates'].str.contains('2019'), 'Year'] = 2019

In [10]:
f.shape

(1817, 6)

In [45]:
date = f['dates']
str(date)
for index, row in date.iteritems():
    #if np.where(date.applymap(lambda x: x == '-')):
    #if date.apply(lambda x: any(pd.Series(x).str.contains('-'))):
    # if date.str.contains('-'):
    days= []
    if "-" in row :
        a = row[:2]
        
        days.append(a)       
    #df=f.assign(Days = days)
    print(days)
len(days)

[u'05']
[u'08']
[u'02']
[u'03']
[u'03']
[u'04']
[u'06']
[u'04']
[u'04']
[u'05']
[u'06']
[u'05']
[u'05']
[u'05']
[u'24']
[u'06']
[u'06']
[u'07']
[u'07']
[]
[]
[]
[u'09']
[u'09']
[u'10']
[u'10']
[u'10']
[u'11']
[u'11']
[u'18']
[u'12']
[u'12']
[u'12']
[]
[u'13']
[]
[u'13']
[]
[u'14']
[u'14']
[]
[]
[]
[u'17']
[u'28']
[u'18']
[u'09']
[u'07']
[u'18']
[u'08']
[u'21']
[]
[u'20']
[u'20']
[u'20']
[u'17']
[]
[u'21']
[]
[]
[u'24']
[u'24']
[u'24']
[u'25']
[]
[u'25']
[u'25']
[u'26']
[u'27']
[u'27']
[]
[]
[u'28']
[u'28']
[u'28']
[u'30']
[u'01']
[u'01']
[u'01']
[]
[u'01']
[u'01']
[u'02']
[u'29']
[]
[u'24']
[u'29']
[]
[u'04']
[u'04']
[]
[]
[u'07']
[u'08']
[u'09']
[u'07']
[u'06']
[u'10']
[u'11']
[u'11']
[]
[]
[u'14']
[u'14']
[]
[u'14']
[u'14']
[u'14']
[u'14']
[u'15']
[u'15']
[]
[]
[u'15']
[u'16']
[u'16']
[u'16']
[u'16']
[]
[]
[u'08']
[]
[u'17']
[]
[u'18']
[]
[u'19']
[u'21']
[u'21']
[]
[u'23']
[u'25']
[u'14']
[u'21']
[u'23']
[u'24']
[]
[u'25']
[]
[u'21']
[u'25']
[]
[]
[]
[u'27']
[u'29']
[u'30']
[u'28']
[]
[u'01']
[]
[u'01']
[u'01']
[u'01']
[]
[u'01']
[u'29']
[]
[]
[]
[u'02']
[u'03']
[]
[u'05']
[u'05']
[]
[u'05']
[u'12']
[u'08']
[u'09']
[u'09']
[u'09']
[]
[]
[]
[]
[u'11']
[u'11']
[u'12']
[u'12']
[u'12']
[u'12']
[]
[]
[u'25']
[u'14']
[u'21']
[u'15']
[u'17']
[u'27']
[u'19']
[]
[u'15']
[u'17']
[u'16']
[u'16']
[u'16']
[u'16']
[u'16']
[]
[u'15']
[]
[]
[u'19']
[u'19']
[u'21']
[u'21']
[u'21']
[]
[]
[u'26']
[u'27']
[u'27']
[u'28']
[u'28']
[u'30']
[u'30']
[]
[]
[]
[u'01']
[u'02']
[]
[u'02']
[]
[u'02']
[u'03']
[u'03']
[u'04']
[]
[u'04']
[u'30']
[]
[]
[u'05']
[]
[]
[u'06']
[u'03']
[]
[]
[]
[u'09']
[u'10']
[u'10']
[u'08']
[u'11']
[u'30']
[u'11']
[]
[u'14']
[]
[]
[u'13']
[]
[]
[]
[]
[u'15']
[u'16']
[]
[]
[]
[u'18']
[u'19']
[u'19']
[]
[u'19']
[u'19']
[]
[]
[]
[u'20']
[]
[]
[]
[u'22']
[]
[u'23']
[u'24']
[u'24']
[u'24']
[u'24']
[u'24']
[u'25']
[]
[]
[]
[]
[]
[u'27']
[]
[]
[u'30']
[u'26']
[u'01']
[u'01']
[u'01']
[u'02']
[u'26']
[]
[]
[]
[u'04']
[u'04']
[u'10']
[u'08']
[u'08']
[u'08']
[]
[]
[u'09']
[u'09']
[]
[u'10']
[]
[u'10']
[]
[u'01']
[u'11']
[u'14']
[]
[]
[]
[u'14']
[]
[u'14']
[]
[u'15']
[]
[u'16']
[]
[]
[]
[u'17']
[]
[]
[]
[]
[]
[]
[u'20']
[u'29']
[u'21']
[u'22']
[u'22']
[u'24']
[u'22']
[u'23']
[]
[u'24']
[]
[u'25']
[]
[u'26']
[u'26']
[u'08']
[]
[]
[u'29']
[u'31']
[u'04']
[]
[]
[]
[]
[]
[]
[u'06']
[u'14']
[]
[u'Su']
[u'04']
[u'05']
[u'05']
[]
[u'05']
[u'05']
[]
[u'02']
[u'07']
[]
[u'06']
[]
[]
[u'08']
[]
[u'21']
[u'12']
[]
[u'10']
[]
[u'17']
[u'19']
[u'19']
[u'21']
[]
[u'15']
[u'23']
[u'25']
[u'26']
[u'29']
[]
[]
[]
[]
[u'01']
[]
[u'30']
[u'03']
[]
[u'04']
[u'05']
[u'05']
[]
[]
[]
[]
[]
[]
[]
[u'20']
[u'08']
[u'08']
[u'09']
[u'09']
[]
[u'09']
[]
[u'10']
[u'19']
[]
[]
[u'10']
[u'11']
[u'11']
[u'11']
[]
[]
[]
[u'12']
[]
[]
[]
[u'14']
[u'14']
[]
[u'16']
[u'17']
[u'22']
[u'17']
[u'17']
[u'26']
[]
[u'18']
[u'18']
[u'18']
[]
[]
[u'19']
[]
[]
[u'15']
[u'18']
[]
[u'18']
[u'18']
[]
[]
[u'16']
[]
[]
[]
[u'22']
[]
[u'19']
[u'24']
[u'21']
[u'24']
[]
[u'24']
[u'21']
[u'25']
[u'25']
[u'25']
[]
[u'26']
[u'24']
[]
[]
[u'27']
[u'04']
[]
[u'18']
[u'28']
[u'29']
[]
[u'30']
[]
[u'01']
[]
[u'02']
[]
[]
[]
[]
[]
[]
[u'05']
[u'05']
[]
[]
[u'06']
[]
[]
[u'08']
[]
[u'07']
[]
[u'03']
[u'14']
[]
[u'11']
[u'10']
[u'13']
[u'13']
[u'13']
[u'14']
[]
[u'15']
[u'15']
[]
[u'15']
[]
[]
[u'21']
[u'22']
[]
[]
[u'18']
[u'20']
[]
[u'23']
[u'26']
[u'29']
[u'04']
[]
[]
[]
[]
[u'23']
[]
[]
[u'30']
[]
[u'04']
[u'05']
[u'13']
[u'06']
[]
[]
[u'06']
[]
[u'08']
[u'08']
[u'09']
[u'10']
[]
[u'10']
[u'11']
[u'11']
[]
[]
[u'12']
[]
[u'15']
[]
[]
[u'10']
[u'20']
[u'22']
[]
[u'24']
[u'24']
[u'25']
[u'25']
[u'27']
[u'25']
[u'26']
[u'26']
[]
[]
[]
[]
[]
[u'31']
[u'19']
[u'01']
[]
[u'01']
[u'02']
[u'31']
[u'02']
[u'02']
[]
[u'03']
[u'03']
[]
[]
[u'04']
[u'07']
[u'07']
[u'08']
[u'08']
[u'09']
[]
[]
[]
[u'10']
[u'10']
[]
[]
[u'13']
[u'15']
[u'16']
[u'17']
[]
[]
[]
[u'15']
[]
[u'17']
[u'19']
[u'22']
[u'19']
[]
[u'22']
[u'21']
[u'23']
[u'23']
[u'24']
[u'27']
[u'28']
[u'29']
[u'01']
[u'01']
[u'01']
[]
[u'28']
[u'07']
[u'02']
[u'01']
[u'03']
[u'04']
[u'04']
[u'04']
[u'10']
[u'01']
[u'05']
[u'05']
[u'18']
[u'06']
[u'03']
[u'03']
[u'04']
[u'04']
[u'06']
[u'06']
[]
[u'05']
[u'26']
[u'07']
[u'07']
[]
[]
[]
[u'12']
[u'12']
[]
[u'13']
[u'14']
[u'14']
[u'15']
[u'19']
[u'17']
[u'19']
[u'20']
[u'19']
[]
[u'20']
[]
[]
[]
[u'24']
[u'25']
[u'25']
[]
[u'25']
[u'26']
[u'26']
[u'25']
[u'27']
[u'27']
[u'28']
[u'28']
[u'30']
[u'01']
[u'01']
[u'01']
[u'01']
[u'02']
[]
[u'03']
[u'04']
[u'04']
[u'04']
[u'06']
[u'08']
[u'07']
[u'06']
[u'08']
[u'08']
[u'08']
[u'09']
[u'09']
[u'07']
[u'10']
[]
[u'12']
[u'14']
[u'15']
[u'15']
[u'15']
[u'17']
[]
[]
[u'20']
[u'22']
[u'22']
[u'23']
[u'23']
[u'23']
[u'23']
[u'24']
[u'24']
[u'25']
[u'29']
[u'28']
[u'29']
[u'31']
[u'31']
[]
[u'28']
[u'01']
[u'01']
[u'01']
[]
[]
[]
[u'03']
[u'04']
[u'09']
[u'05']
[u'28']
[u'07']
[u'07']
[u'07']
[u'06']
[]
[]
[u'11']
[u'11']
[u'11']
[u'12']
[u'13']
[u'14']
[]
[]
[u'15']
[u'17']
[u'18']
[u'19']
[u'19']
[u'19']
[u'20']
[u'21']
[]
[]
[]
[]
[u'22']
[u'22']
[]
[]
[u'23']
[u'24']
[u'24']
[u'24']
[u'25']
[u'26']
[u'26']
[u'27']
[u'28']
[]
[u'28']
[u'04']
[u'28']
[u'28']
[]
[]
[]
[u'29']
[u'25']
[u'02']
[u'02']
[]
[u'03']
[u'03']
[u'03']
[u'25']
[]
[u'04']
[u'20']
[]
[]
[u'10']
[u'10']
[u'03']
[u'26']
[]
[]
[u'12']
[]
[u'12']
[]
[u'13']
[u'13']
[]
[]
[]
[]
[u'15']
[u'16']
[u'18']
[]
[u'17']
[u'19']
[u'19']
[u'19']
[u'19']
[]
[u'19']
[]
[]
[]
[u'23']
[u'24']
[u'25']
[u'25']
[]
[u'25']
[u'26']
[u'27']
[]
[]
[]
[]
[]
[]
[]
[u'30']
[u'30']
[u'30']
[u'31']
[u'27']
[]
[]
[u'01']
[]
[]
[u'01']
[]
[]
[]
[]
[]
[u'03']
[]
[u'05']
[]
[u'05']
[u'06']
[]
[]
[u'06']
[]
[u'07']
[]
[u'07']
[]
[]
[]
[]
[u'10']
[u'12']
[u'13']
[u'14']
[u'14']
[]
[]
[u'14']
[u'14']
[]
[u'15']
[u'15']
[u'21']
[u'14']
[]
[u'17']
[u'18']
[u'19']
[u'20']
[u'21']
[u'22']
[u'22']
[]
[u'22']
[u'24']
[u'26']
[]
[]
[u'03']
[u'28']
[]
[]
[u'29']
[u'30']
[]
[u'30']
[u'01']
[]
[]
[u'01']
[u'01']
[u'01']
[u'02']
[u'03']
[u'04']
[]
[u'04']
[u'10']
[]
[u'30']
[u'04']
[u'05']
[]
[u'04']
[]
[u'07']
[u'08']
[u'10']
[]
[]
[]
[u'11']
[u'03']
[u'12']
[]
[u'13']
[u'15']
[u'17']
[u'18']
[u'18']
[u'18']
[]
[]
[u'25']
[u'25']
[u'25']
[u'26']
[u'26']
[]
[]
[u'29']
[]
[u'31']
[u'01']
[]
[u'04']
[u'04']
[u'05']
[u'05']
[u'06']
[u'07']
[u'07']
[u'08']
[]
[]
[u'09']
[u'11']
[u'12']
[u'12']
[u'12']
[u'14']
[u'14']
[u'15']
[u'15']
[u'16']
[]
[]
[u'16']
[u'18']
[u'20']
[u'19']
[u'20']
[u'20']
[u'26']
[u'21']
[u'21']
[u'22']
[u'22']
[u'22']
[u'23']
[]
[u'26']
[u'26']
[u'26']
[]
[u'27']
[u'27']
[u'27']
[u'28']
[u'28']
[u'28']
[u'29']
[u'29']
[u'30']
[u'30']
[u'01']
[u'01']
[u'02']
[u'01']
[u'02']
[u'03']
[u'03']
[u'04']
[u'04']
[u'10']
[u'04']
[u'04']
[u'04']
[u'27']
[u'05']
[u'05']
[u'05']
[u'03']
[u'04']
[u'05']
[u'05']
[u'06']
[u'06']
[u'07']
[]
[u'10']
[u'12']
[u'18']
[u'13']
[u'15']
[u'18']
[u'18']
[u'18']
[u'18']
[u'17']
[u'18']
[u'16']
[u'19']
[u'19']
[u'19']
[u'18']
[u'20']
[u'20']
[u'18']
[u'06']
[]
[u'24']
[u'25']
[u'25']
[u'26']
[u'25']
[u'26']
[u'25']
[u'25']
[u'28']
[]
[u'30']
[u'30']
[u'31']
[u'01']
[]
[u'01']
[u'02']
[u'02']
[u'02']
[]
[]
[u'05']
[u'06']
[]
[u'08']
[u'08']
[]
[u'08']
[u'07']
[u'09']
[]
[u'10']
[u'12']
[]
[]
[u'14']
[u'15']
[u'15']
[u'16']
[u'16']
[]
[u'19']
[u'21']
[]
[u'21']
[u'21']
[u'21']
[u'21']
[u'22']
[u'23']
[u'23']
[]
[]
[u'24']
[]
[u'26']
[u'26']
[u'27']
[u'28']
[u'28']
[u'29']
[u'29']
[u'30']
[u'19']
[]
[u'30']
[u'30']
[]
[u'31']
[]
[u'02']
[u'03']
[u'05']
[u'04']
[u'06']
[u'06']
[]
[u'06']
[u'06']
[u'06']
[u'09']
[]
[u'10']
[u'11']
[u'28']
[u'12']
[u'12']
[u'12']
[]
[]
[u'14']
[u'14']
[u'14']
[u'18']
[u'18']
[u'19']
[u'20']
[u'21']
[u'21']
[]
[]
[]
[u'23']
[]
[u'24']
[]
[u'25']
[u'28']
[u'26']
[u'26']
[u'26']
[u'26']
[u'27']
[u'28']
[u'28']
[]
[]
[u'02']
[u'02']
[u'02']
[u'25']
[u'03']
[u'04']
[]
[]
[]
[]
[]
[]
[u'06']
[u'06']
[u'09']
[]
[u'10']
[u'10']
[]
[u'11']
[u'12']
[]
[]
[]
[]
[u'16']
[u'17']
[u'17']
[]
[u'18']
[]
[]
[]
[]
[]
[u'19']
[]
[]
[u'21']
[]
[u'22']
[u'22']
[]
[u'25']
[u'25']
[u'25']
[]
[u'25']
[]
[]
[u'26']
[]
[]
[]
[u'29']
[u'29']
[u'30']
[u'31']
[]
[]
[u'01']
[u'01']
[]
[u'01']
[u'02']
[]
[]
[u'04']
[u'05']
[]
[u'06']
[u'06']
[u'07']
[u'08']
[u'08']
[]
[u'08']
[u'08']
[]
[u'15']
[]
[u'09']
[u'09']
[]
[u'11']
[u'11']
[]
[u'12']
[]
[]
[u'14']
[]
[]
[]
[u'15']
[]
[u'16']
[]
[u'18']
[]
[]
[u'20']
[]
[u'21']
[u'16']
[]
[u'21']
[u'22']
[]
[u'23']
[u'23']
[]
[u'27']
[u'14']
[u'28']
[]
[u'28']
[]
[]
[u'01']
[]
[]
[]
[u'03']
[u'04']
[u'04']
[]
[u'05']
[u'06']
[]
[]
[u'07']
[]
[]
[]
[u'10']
[u'11']
[u'11']
[u'11']
[]
[]
[u'13']
[u'13']
[]
[u'17']
[u'17']
[u'19']
[u'20']
[u'20']
[u'20']
[u'21']
[]
[]
[u'24']
[u'25']
[]
[]
[u'28']
[u'Su']
[]
[]
[u'30']
[u'31']
[]
[u'01']
[u'01']
[u'02']
[u'02']
[u'02']
[u'03']
[]
[u'04']
[u'03']
[]
[]
[u'04']
[u'06']
[u'07']
[u'07']
[u'08']
[u'08']
[u'08']
[u'08']
[]
[]
[u'10']
[]
[u'13']
[u'14']
[u'14']
[u'16']
[u'17']
[]
[u'22']
[u'22']
[u'23']
[u'23']
[u'23']
[u'24']
[]
[u'25']
[u'25']
[]
[u'25']
[]
[]
[u'26']
[]
[u'30']
[u'31']
[]
[u'01']
[]
[]
[u'04']
[u'05']
[u'05']
[u'05']
[u'05']
[u'06']
[u'06']
[u'06']
[u'06']
[u'06']
[u'06']
[u'06']
[]
[u'07']
[u'07']
[u'07']
[u'08']
[]
[]
[]
[]
[]
[u'11']
[u'12']
[u'12']
[u'13']
[u'14']
[u'15']
[u'15']
[]
[]
[]
[u'16']
[u'17']
[u'18']
[u'18']
[u'18']
[u'19']
[u'19']
[u'20']
[u'20']
[u'21']
[u'21']
[]
[u'22']
[u'22']
[]
[]
[u'27']
[]
[u'25']
[u'26']
[u'26']
[u'26']
[u'26']
[u'26']
[u'26']
[u'27']
[u'27']
[]
[]
[u'28']
[u'28']
[u'28']
[u'28']
[u'29']
[]
[]
[u'26']
[u'01']
[u'01']
[]
[u'04']
[u'05']
[]
[]
[u'06']
[]
[u'07']
[u'08']
[]
[]
[u'10']
[]
[u'12']
[u'14']
[u'14']
[u'14']
[]
[]
[]
[u'18']
[u'19']
[u'20']
[u'21']
[u'21']
[]
[]
[]
[u'25']
[u'25']
[u'28']
[u'26']
[]
[u'27']
[u'27']
[u'28']
[u'28']
[]
[]
[]
[]
[]
[]
[]
[u'01']
[u'02']
[]
[u'03']
[u'04']
[u'04']
[]
[u'04']
[]
[]
[]
[]
[u'06']
[]
[]
[]
[u'06']
[]
[]
[u'08']
[u'09']
[]
[]
[]
[]
[]
[u'13']
[]
[]
[]
[u'16']
[]
[]
[]
[u'19']
[]
[u'24']
[u'25']
[]
[]
[]
[]
[]
[u'27']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'06']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'10']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'15']
[]
[]
[]
[u'17']
[]
[]
[]
[]
[]
[]
[]
[u'20']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'25']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'05']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'19']
[]
[]
[]
[]
[]
[u'22']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[u'01']
[u'01']
[u'01']
[u'01']
[u'01']
[u'01']
[u'01']
[u'02']
[u'02']
[u'02']
[u'02']
[u'03']
[u'03']
[u'04']
[u'04']
[u'04']
[u'04']
[u'04']
[u'05']
[u'05']
[u'06']
[]
[u'08']
[u'10']
[u'10']
[u'10']
[u'11']
[u'12']
[]
[u'15']
[u'16']
[]
[u'17']
[u'18']
[u'18']
[u'18']
[u'18']
[u'19']
[u'20']
[]
[u'22']
[]
[u'24']
[]
[u'25']
[u'25']
[u'25']
[u'25']
[u'25']
[u'26']
[u'27']
[]
[]
[]

0

In [12]:
stations = pd.read_csv('/home/kronork/mapReduce/raw/rental_stations_saved.csv')

In [13]:
stations.head()

                                   name  id        lat       lon  capacity
0            River Street , Clerkenwell   1  51.529163 -0.109971        19
1        Phillimore Gardens, Kensington   2  51.499607 -0.197574        37
2  Christopher Street, Liverpool Street   3  51.521284 -0.084606        32
3       St. Chad's Street, King's Cross   4  51.530059 -0.120974        23
4         Sedding Street, Sloane Square   5  51.493130 -0.156876        27

## 3. Earnings
Extracted earnings in Weekly Gross Pay () from 2015-2019 from [Office for National Statistics](https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/bulletins/annualsurveyofhoursandearnings/2016provisionalresults).</br>
### To Do:
* assign districts to coordinates
* assign earnings to stations

In [14]:
earnings = pd.read_csv('/home/kronork/mapReduce/Data_Profiling/earnings.csv')
earnings.head()

                   District    2015    2016    2017    2018
0                    Camden   810.8   830.1   815.5   867.0
1            City of London  1160.6  1205.7  1223.9  1310.6
2                   Hackney   702.9   747.2   754.8   752.4
3    Hammersmith and Fulham   708.3   746.5   821.0   828.8
4                  Haringey   654.0   628.0   662.9   674.2