## 1. Age

According to Santander Cycles Survey of Q2 2017/2018 their main target group depicts of people between the **age 16 and 54**.<br>
They group their customers in the following age groups:

![](img/target.png)

As this plot shows they have more male users than female users, why we give maless a higher weight than females.<br>
Moreover we should weight the several age groups differently.

Population data of 2015-2019 was found at the [London Datastore](https://data.london.gov.uk/dataset/projections/).

After preparing the data in a first way we have the age groups ordered by London districts:

In [1]:
import pandas as pd
import numpy as np

In [2]:
age = pd.read_csv("age.csv")
age.head(100)

,District,Ages sum,16-24M,16-24F,25-34M,25-34F,35-44M,35-44F,45-54M,45-54F,55-64M,55-64F,>65M,>65F,Year,Sum Male
0,Camden,199263,15875,16521,26876,25634,19397,18384,14351,13960,10219,9862,12465,15719,2015,0
1,Camden,203057,16277,15983,27264,25554,20025,18558,15062,14466,10602,10203,12900,16163,2016,0
2,Camden,206309,16426,16255,27676,25880,20385,18586,15292,14733,10852,10484,13246,16494,2017,0
3,Camden,209229,16693,16564,28119,25886,20434,18603,15522,15033,11122,10786,13635,16832,2018,0
4,Camden,211902,16799,16948,28477,25915,20688,18411,15501,15356,11539,11096,13962,17210,2019,81465
5,City of London,8146,287,339,950,553,454,374,714,462,2405,382,618,608,2015,0
6,City of London,8427,334,384,967,576,481,346,724,465,2506,373,641,630,2016,0
7,City of London,8514,332,359,974,592,495,359,746,448,2547,376,635,651,2017,0
8,City of London,8870,363,352,1021,655,534,400,744,434,2662,389,650,666,2018,0
9,City of London,9177,375,367,1073,702,567,424,732,434,2747,413,665,678,2019,2747
10,Hackney,213331,13383,14396,35924,36422,23596,21731,14667,15326,9101,9453,8786,10546,2015,0
11,Hackney,216732,13387,14064,35333,36546,25203,22446,15084,15472,9388,9927,9061,10821,2016,0
12,Hackney,219705,13674,14191,34774,36461,26124,23091,15457,15609,9661,10382,9277,11004,2017,0
13,Hackney,223187,13746,14479,34473,36284,27251,23889,15694,15811,10012,10776,9487,11285,2018,0
14,Hackney,227081,14094,14597,34095,36389,28529,24694,15866,16038,10433,11117,9674,11555,2019,92584
15,Hammersmith and Fulham,148106,9670,9661,20910,21203,15860,14869,11183,11688,6667,7930,8007,10458,2015,0
16,Hammersmith and Fulham,147648,9644,9446,20543,19911,15924,14771,11405,11991,6933,8174,8207,10699,2016,0
17,Hammersmith and Fulham,149402,9917,9991,20654,19812,15897,14594,11598,12128,7178,8393,8310,10930,2017,0
18,Hammersmith and Fulham,151290,10127,10188,20853,20023,16034,14548,11661,12142,7440,8677,8440,11157,2018,0
19,Hammersmith and Fulham,153076,10192,10339,21169,20312,16148,14346,11647,12187,7770,8916,8560,11490,2019,59156
20,Haringey,218273,15053,14574,30002,27824,24919,22472,17697,17954,10427,12048,11251,14052,2015,0
21,Haringey,223125,15611,14913,30114,27729,25651,22889,18485,18453,10873,12433,11503,14471,2016,0
22,Haringey,226165,15711,14899,30445,27593,26055,23379,18744,18595,11372,12763,11767,14842,2017,0
23,Haringey,228099,15766,14790,30235,27438,26595,23470,18910,18625,11810,13270,12042,15148,2018,0
24,Haringey,229865,15686,14679,30192,27218,27037,23650,19146,18514,12224,13769,12290,15460,2019,92061
25,Islington,191433,15773,17493,30408,29870,18491,16158,13546,12929,8060,8695,9033,10977,2015,0
26,Islington,195901,16795,18014,31009,30048,19093,16212,13776,13012,8425,9067,9231,11219,2016,0
27,Islington,197688,16132,17206,31768,30533,19683,16408,13959,12982,8793,9441,9436,11347,2017,0
28,Islington,200059,15679,16788,32361,30824,20563,16751,13993,12928,9180,9827,9640,11525,2018,0
29,Islington,202860,15418,16602,32743,31058,21632,17118,14007,13022,9483,10109,9898,11770,2019,83800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,Lewisham,235932,15558,16570,29674,30206,26203,25213,19627,20620,11709,12907,12189,15456,2015,0
41,Lewisham,239821,15400,16292,30171,30686,26910,25649,20154,20841,12195,13448,12469,15606,2016,0
42,Lewisham,242914,15418,16004,30138,30873,27532,26173,20491,20868,12878,14143,12627,15769,2017,0
43,Lewisham,245910,15350,15833,30341,30741,28077,26843,20721,20813,13480,14909,12844,15958,2018,0
44,Lewisham,248778,15355,15854,30367,30589,28754,27377,20878,20703,14004,15566,13090,16241,2019,95354
45,Newham,257125,22361,21530,44718,34034,26920,22635,19096,18414,11770,12231,10635,12781,2015,0
46,Newham,263748,22546,21400,45985,34126,28081,23355,19748,18725,12518,12933,11061,13270,2016,0
47,Newham,268139,23533,21435,45186,34226,29226,24163,20121,18903,12984,13213,11441,13708,2017,0
48,Newham,272920,24330,21474,44371,34490,30780,24929,20426,18975,13485,13782,11806,14072,2018,0
49,Newham,278090,24779,21771,44119,34696,32159,25769,20703,19106,14073,14235,12193,14487,2019,121760
50,Southwark,251569,18167,19867,37339,37465,25911,23920,20100,19756,12088,12436,10786,13734,2015,0
51,Southwark,254928,17559,19032,37928,38200,26493,24257,20396,19799,12800,13356,11179,13929,2016,0
52,Southwark,258583,18094,18938,38024,38381,27245,24699,20511,19818,13280,14014,11486,14093,2017,0
53,Southwark,262700,18690,19055,38107,38473,27946,25287,20716,19615,13935,14710,11754,14412,2018,0
54,Southwark,267121,19097,19347,38240,38593,28957,25915,20719,19539,14567,15345,12091,14711,2019,107013
55,Tower Hamlets,235972,19677,20331,44398,41177,26820,21276,15100,12033,9107,8365,8045,9643,2015,0
56,Tower Hamlets,243532,20044,20333,45358,41343,28223,22668,16103,12666,9736,8792,8338,9928,2016,0
57,Tower Hamlets,248168,20248,20513,45489,41279,29347,23644,16614,13146,10078,8919,8607,10284,2017,0
58,Tower Hamlets,253379,20562,20762,45647,41641,30348,24461,17255,13551,10449,9216,8917,10570,2018,0
59,Tower Hamlets,258943,20805,21214,45935,41868,31449,25304,17857,14014,10869,9505,9219,10904,2019,116046
60,Wandsworth,258443,12624,16058,40939,46035,27829,27084,17532,18214,10908,11911,12847,16462,2015,0
61,Wandsworth,258899,12830,15716,39439,45489,28528,27360,17647,18626,11282,12145,13100,16737,2016,0
62,Wandsworth,261494,13213,15871,39257,45266,28773,27942,18011,18946,11526,12459,13271,16959,2017,0
63,Wandsworth,265370,13534,16202,39535,45586,29135,28632,18215,19012,11948,12828,13471,17272,2018,0
64,Wandsworth,269043,13749,16381,39751,46029,29746,28999,18175,19245,12488,13194,13681,17605,2019,101421
65,Westminster,203662,13925,12003,29233,25830,22926,18928,16155,14699,10288,11290,13287,15098,2015,0
66,Westminster,207649,14462,12473,29050,24983,24033,19372,16735,14880,10672,11761,13640,15588,2016,0
67,Westminster,209937,14576,13055,28767,24363,24424,19676,17027,15079,11013,11945,13975,16037,2017,0
68,Westminster,213798,14787,13410,28983,24655,24815,19845,17367,15370,11487,12290,14310,16479,2018,0
69,Westminster,217558,14987,13796,29195,24987,25232,19829,17647,15633,12006,12677,14628,16941,2019,87061

In [26]:
# Calculating percentage population augmentation from 2015 to 2019

dico = {}
for index, row in age.iterrows():
    array = dico.get(row["District"],[])
    array.append(row["Ages sum"])
    dico[row["District"]] = array

for district,array in dico.items():
    print(district, "\t\t", int(100*(array[-1] - array[1])/array[-1]))

Camden 		 4
City of London 		 8
Hackney 		 4
Hammersmith and Fulham 		 3
Haringey 		 2
Islington 		 3
Kensington and Chelsea 		 2
Lambeth 		 3
Lewisham 		 3
Newham 		 5
Southwark 		 4
Tower Hamlets 		 5
Wandsworth 		 3
Westminster 		 4

In [32]:
# Get coordinate of each district:

from NominatimLibrary import Locator
locator = Locator()

district_coords = {}

def locate(locator, district):
    elm = district_coords.get(district)
    if elm == None:
        try:
            district_coords[district] = locator.get_coordinates("" + district + ", London, UK")
            return district_coords[district]
        except Exception as e:
            print("Could not locate: ", e)
    else:
        return elm

age["District"].map(lambda x: locate(locator, x))
    
for i,j in district_coords.items():
    print(i,j)

Camden (51.5423045, -0.1395604)
City of London (51.5156177, -0.0919983)
Hackney (51.5432402, -0.0493621)
Hammersmith and Fulham (51.4920377, -0.2236401)
Haringey (51.58792985, -0.10541010599099)
Islington (51.5384287, -0.0999051)
Kensington and Chelsea (51.4989948, -0.1991229)
Lambeth (51.5013012, -0.117287)
Lewisham (51.4624325, -0.0101331)
Newham (51.52999955, 0.0293179602938221)
Southwark (51.5029222, -0.103458)
Tower Hamlets (51.49595675, -0.011744492532098)
Wandsworth (51.4570271, -0.1932607)
Westminster (51.4973206, -0.137149)

In [10]:
stations = pd.read_csv("../raw/rental_stations_saved.csv")
stations.head()

                                   name  id        lat       lon  capacity
0            River Street , Clerkenwell   1  51.529163 -0.109971        19
1        Phillimore Gardens, Kensington   2  51.499607 -0.197574        37
2  Christopher Street, Liverpool Street   3  51.521284 -0.084606        32
3       St. Chad's Street, King's Cross   4  51.530059 -0.120974        23
4         Sedding Street, Sloane Square   5  51.493130 -0.156876        27

In [40]:
# Get closest district for each station:

closest_col = []
for index, row in stations.iterrows():
    (lat,lon) = (row.lat,row.lon)
    closest_district = None
    closest_dist = 9999999
    for district,coords in district_coords.items():
        dist = locator.distance_crow_coords(coords, (lat,lon))
        if closest_district == None or dist < closest_dist:
            closest_dist = dist
            closest_district = district
    closest_col.append(closest_district)

stations["closest_district"] = closest_col
stations.to_csv("../raw/rental_stations_district.csv")
stations.head()

,name,id,lat,lon,capacity,closest_district
0,"River Street , Clerkenwell",1,51.529163,-0.109971,19,Islington
1,"Phillimore Gardens, Kensington",2,51.499607,-0.197574,37,Kensington and Chelsea
2,"Christopher Street, Liverpool Street",3,51.521284,-0.084606,32,City of London
3,"St. Chad's Street, King's Cross",4,51.530059,-0.120974,23,Islington
4,"Sedding Street, Sloane Square",5,51.493130,-0.156876,27,Westminster

The most used stations according to age data could be in: <br>
* Newham
* Southwark
* Tower Hamlets
* Wandsworth

### To Do:
* add datetime (maybe take every day of the year?)
* assign age data to stations

## 3. Earnings
According to Santander Cycles Survey of Q2 2017/2018 their main target group come up with an anual income between **20 k and more than 70 k**.<br>
On the one hand they have **casual users** with an anual income between **20-40 k**<br>
On the other hand they have **members** which have an average anual income between **40 - 75+ k**

![](img/income.png)

<br><br>
Extracted earnings from 2015-2018 from [Office for National Statistics](https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/bulletins/annualsurveyofhoursandearnings/2016provisionalresults).</br>

In [50]:
earnings = pd.read_csv('earnings.csv')
earnings

                    District     2015     2016     2017     2018
0                     Camden  42161.6  43165.2  42406.0  45084.0
1             City of London  60351.2  62696.4  63642.8  68151.2
2                    Hackney  36550.8  38854.4  39249.6  39124.8
3     Hammersmith and Fulham  36831.6  38818.0  42692.0  43097.6
4                   Haringey  34008.0  32656.0  34470.8  35058.4
5                  Islington  45099.6  47762.0  48984.0  48656.4
6     Kensington and Chelsea  35952.8  34039.2  38303.2  39993.2
7                    Lambeth  41574.0  39301.6  40211.6  41646.8
8                   Lewisham  33649.2  34403.2  34637.2  33919.6
9                     Newham  32541.6  34377.2  36878.4  36296.0
10                 Southwark  41449.2  40970.8  43004.0  46191.6
11             Tower Hamlets  57210.4  55302.0  60803.6  59144.8
12                Wandsworth  35620.0  36166.0  38204.4  40320.8
13               Westminster  44657.6  45614.4  49597.6  52364.0

The most used stations according to **income** data could be in: 

* City of London (Members)
* Tower Hamlets (Members)
* Westminster (Members)
* Haringey (Casual Users)
* Lewisham (Casual Users)
* Newham (Casual Users) 


### To Do:
* add datetime to data(maybe date of each day for one year?)
* assign earnings data to stations

## 4. Political data
Extracted election results from 2016 from [London Datastore](https://data.london.gov.uk/elections/).</br>

**Conservatives**: 
* low-emission buses
* car and van to be zero-emission by 2050
* plant a million trees in towns and cities to improve air
* 25-year environment plan<br>
**Labour**: <br>
* Clean Air Act to deal with illegal air quality
* safeguard habitats and species in the blue belts of seas and oceans
* ban on fracking
* plant a million trees
* ensure that 60% of the UKâ€™s energy comes from zero-carbon or renewable sources by 2030<br>
**Liberal Democrats**<br>
* charge on disposable coffee cups to reduce waste
* diesel scrappage scheme, and a ban on the sale of diesel cars and small vans in the UK by 2025
* extend ultra-low emission zones to 10 more towns and cities
* Zero Carbon Britain Act to set new targets to reduce net greenhouse gas emissions by 80% by 2040 and to zero by 2050<br>
**Green Party**<br>
* new Environmental Protection Act and a new environmental regulator and court
* end plastic waste by introducing a bottle deposit scheme
* a Clean Air Acta
* End the reliance on fossil fuels with a ban on fracking and pledge to bring forward the coal phase out by two years to 2023
* Scrap plans for all new nuclear power stations<br>
**UK Independence Party**
* Cancellation of any state financing of climate protection
***

-> Labour & Green Party have probably voters with a higher focus on environmental protection<br>
-> Liberal Democrats & Conservatives have probably voters who are amongst other things interested in environmental protection<br>
-> UK Independence Party have probably voters who do not care on environmental protection
<br><br>
-> Districts with **lots of** votes for **Green Party** & **Labour Party** and **less** votes for **UK Independence Party** probably have a higher use of rental bikes. 
<br><br>Reference: [The Guardian](https://www.theguardian.com/environment/2017/may/21/how-do-the-four-main-parties-compare-on-the-environment)

In [28]:
political = pd.read_csv('political.csv')
political

,District,% Con,% Lab,% Lib Dem,% Green,% UKIP
0,City of London,40.415105,37.647737,6.630153,7.004901,2.075526
1,Camden,27.284130,51.053337,5.129850,8.448074,2.033980
2,Hackney,12.093692,66.721942,2.896786,10.193162,1.382321
3,Hammersmith and Fulham,41.089339,39.768094,4.316411,5.916356,2.282932
4,Haringey,17.677652,60.070296,5.243635,8.783056,1.295669
5,Islington,16.990974,60.377152,4.623599,8.741961,2.371882
6,Kensington and Chelsea,55.599084,28.015772,4.075299,4.533198,1.836683
7,Lambeth,21.426381,56.114814,5.388028,9.172221,1.449483
8,Lewisham,19.395787,56.829223,4.828802,8.968610,2.947496
9,Newham,17.423339,65.307076,2.291541,4.473610,2.558457
10,Southwark,19.382631,54.966694,8.403446,8.316952,2.529683
11,Tower Hamlets,17.854048,61.271647,3.548958,7.121777,2.358437
12,Wandsworth,40.797920,43.278400,3.791946,5.429276,1.620414
13,Westminster,44.371538,38.007135,4.247118,4.962441,2.113699

The most used stations according to political data could be in: <br>
* Hackney
* Haringey
* Lambeth 
* Lewisham 
* Islington


### To Do:
* add datetime to data(maybe date of each day for the year?)
* assign political interests data to stations

# Adding extra features to base features dataset

In [ ]:
BASE_FEATURES = "./all_stations_events.csv"
STATIONS_WITH_DISTRICT = "../raw/rental_stations_district.csv"
AGE_DATA = "./age.csv"

stations = pd.read_csv(STATIONS_WITH_DISTRICT)
features = pd.read_csv(BASE_FEATURES)
age = pd.read_csv("./age.csv")

features = features.merge(stations[["id","closest_district"]], how="left", left_on="Station ID", right_on="id")
features.head()

In [ ]:
features = features.merge(age, how="left", left_on=["closest_district","Year"], right_on=["District","Year"])
features.head()