## 1. Age

According to Santander Cycles Survey of Q2 2017/2018 their main target group depicts of people of between the age 16 and 54.<br>
They group their customers in the following age groups:

![](img/target.png)

As this plot shows they have more male users than female users, why we give maless a higher weight than females.<br>
Moreover we should weight the several age groups differently.

Population data of 2017 was found at the [Office for National Statistics](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland).

After preparing the data in a first way we have the age groups ordered by London districts:
### To Do:
* find data for 2018,2019
* assign districts to coordinates
* assign age to stations

In [1]:
import pandas as pd
import numpy as np

In [2]:
age = pd.read_csv("age.csv")
age.head()

                     Name  All ages  25-34  35-44  45-54  55-64    >65
0                  Camden    253361  54527  39552  30599  21676  30098
1          City of London      7654   1050   1002   1255   1024   1482
2                 Hackney    275929  70473  49206  31106  20243  20394
3  Hammersmith and Fulham    182998  40080  30736  24184  15855  19334
4                Haringey    271224  52469  48048  36933  24046  26628

## 2. Events
Extracted events from 2015-2019 from [Lodon Events](http://www.londontown.com/London/London-Events-2019).</br>
### To Do:
* extract days of datetime
* find coordinates to postalcodes
* assign events to stations

In [3]:
import json
import pandas as pd
with open('eventsdata/events-2015.json', 'r') as f:
    data15 = json.load(f)
dfRaw15= pd.DataFrame(data15)
df15=dfRaw15.assign(Year='2015')
df1 =df15.drop(['locality','url'],axis=1)
df1.head()

,dates,postcode,street,title,Year
0,05th - 06th June 2018,KT8 9AU,"East Molesey, Surrey",\nLionel Richie,2015
1,08th - 09th March 2019,SE1 8XX,Belvedere Road,\nWomen of the World Festival,2015
2,02nd - 14th March 2015,SW1E 5JA,12 Palace Street,\nRuby Wax: Sane New World,2015
3,03rd - 07th March 2015,TW9 1QJ,"The Green, Surrey",\nHarvey,2015
4,03rd - 14th March 2015,NW1 3BF,"15-16 Triton Street, Regents Place",\nCitizen Puppet,2015

In [4]:
with open('eventsdata/events-2016.json', 'r') as f:
    data16 = json.load(f)
dfRaw16= pd.DataFrame(data16)
df16=dfRaw16.assign(Year='2016')
df2 = df16.drop(['locality','url'],axis=1)
df2.head()

,dates,postcode,street,title,Year
0,01st July 2016,W2 2UH,Rangers Lodge,\nMassive Attack,2016
1,01st July - 06th August 2016,SW1W 8AS,Sloane Square,\nUnreachable,2016
2,"12th, 13th and 14th July 2019",W2 2UH,Rangers Lodge,\nBarclaycard presents British Summer Time Hyd...,2016
3,02nd July - 02nd October 2016,W1J 0BD,Burlington House,\nDavid Hockney RA: 79 Portraits and 2 Still L...,2016
4,02nd July 2016,W2 2UH,Rangers Lodge,"\nFlorence & The Machine, Kendrick Lamar, Jami...",2016

In [5]:
with open('eventsdata/events-2017.json', 'r') as f:
    data17 = json.load(f)
dfRaw17= pd.DataFrame(data17)
df17=dfRaw17.assign(Year='2017')
df3 = df17.drop(['locality','url'],axis=1)
df3.head()

,dates,postcode,street,title,Year
0,01st March - 03rd June 2017,WC2H 0HH,2 Charing Cross Road,\nThe Miser,2017
1,01st - 10th March 2017,SW7 2AP,Kensington Gore,\nRussell Howard: Round The World,2017
2,01st March - 17th June 2017,WC2R 0NH,404 Strand,\nStepping Out,2017
3,01st March - 15th October 2017,SE1 9PP,Upper Ground,\nThe Art of the Brick: DC Super Heroes,2017
4,02nd March - 15th April 2017,WC2H 9LD,"41 Earlham Street, Seven Dials",\nLimehouse,2017

In [6]:
with open('eventsdata/events-2018.json', 'r') as f:
    data18 = json.load(f)
dfRaw18= pd.DataFrame(data18)
df18=dfRaw18.assign(Year='2018')
df4 = df18.drop(['locality','url'],axis=1)
df4.head()

,dates,postcode,street,title,Year
0,01st March - 06th May 2018,EC1V 3SB,London,\nSOMNAI,2018
1,01st March 2018,SW9 9SL,211 Stockwell Road,\nMorrissey,2018
2,01st March - 20th May 2018,WC2H 0HE,St Martin's Place,\nVictorian Giants: The Birth Of Art Photography,2018
3,02nd March - 09th September 2018,SW1Y 4RL,63-65 Haymarket,\nBrief Encounter,2018
4,02nd March - 05th May 2018,SE1 8LZ,66 The Cut,\nThe Inheritance,2018

In [7]:
with open('eventsdata/events-2019.json', 'r') as f:
    data19 = json.load(f)
dfRaw19= pd.DataFrame(data19)
df19=dfRaw19.assign(Year='2019')
df5 = df19.drop(['locality','url'],axis=1)
df5.head()

,dates,postcode,street,title,Year
0,01st - 02nd March 2019,EC1R 4TN,Rosebery Avenue,\nRichard Alston Dance Company: Quartermark,2019
1,01st - 31st March 2019,W4 2RP,Burlington Lane,\nChiswick House Camellia Festival,2019
2,3rd March to 2nd June 2019,W1J 0BD,Burlington House,\nThe Renaissance Nude,2019
3,04th - 09th March 2019,TW9 1QJ,"The Green, Surrey",\nArt,2019
4,05th - 09th March 2019,EC1R 4TN,Rosebery Avenue,\nBalletBoyz: Them/Us,2019

In [33]:
frames = [df1, df2, df3,df4,df5]

final = pd.concat(frames)
f = final.assign(Month='0')
f

,dates,postcode,street,title,Year,Month
0,05th - 06th June 2018,KT8 9AU,"East Molesey, Surrey",\nLionel Richie,2015,0
1,08th - 09th March 2019,SE1 8XX,Belvedere Road,\nWomen of the World Festival,2015,0
2,02nd - 14th March 2015,SW1E 5JA,12 Palace Street,\nRuby Wax: Sane New World,2015,0
3,03rd - 07th March 2015,TW9 1QJ,"The Green, Surrey",\nHarvey,2015,0
4,03rd - 14th March 2015,NW1 3BF,"15-16 Triton Street, Regents Place",\nCitizen Puppet,2015,0
5,04th - 28th March 2015,EC2Y 8DS,Silk Street,\nAntigone,2015,0
6,06th - 15th September 2018,SW11 5TN,Lavender Hill,\nMissing,2015,0
7,04th March - 31st May 2015,WC2N 5DN,Trafalgar Square,\nInventing Impressionism,2015,0
8,04th March - 06th September 2015,SW3 4SQ,"Duke of York's Square, King's Road",\nPangaea II: New Art from Africa and Latin Am...,2015,0
9,05th March - 31st August 2015,SE1 6HZ,"Lambeth Road, Elephant and Castle",\nFashion on the Ration,2015,0
10,06th - 21st March 2019,EC2M 4WY,9 Devonshire Square,\nHouse of Holi,2015,0
11,05th - 29th March 2015,WC2R 1LA,Strand,\nBeard,2015,0
12,05th - 06th March 2015,EC1R 4TN,Rosebery Avenue,\nFrancois Chaignaud and Cecilia Bengolea: TWERK,2015,0
13,05th March - 31st December 2015,WC2N 5DS,Central London,\nHans Haacke: Gift Horse,2015,0
14,24th - 25th March 2016,NW1 8EH,Chalk Farm Road,\nUnderworld,2015,0
15,06th March - 18th April 2015,NW3 3EU,Eton Avenue,\nStevie,2015,0
16,06th March - 06th March 2016,N1C 4TB,"1 Pancras Square, King's Boulevard",\nSpeirs & Major: HALFLIFE,2015,0
17,07th - 08th March 2015,W14 8UX,Hammersmith Road,\nLondon Bass Guitar Show 2015,2015,0
18,07th - 08th March 2015,E15 4QZ,"383-387 High Street, Stratford",\nAnthony Browne's The Big Write,2015,0
19,17th July 2016,EC3M 3BY,20 Fenchurch Street,\nStep Up Challenge,2015,0
20,08th March 2015,EC2Y 8DS,Silk Street,\nUnsuk Chin: Alice In Wonderland,2015,0
21,08th March 2015,HA9 0DH,"Arena Square, Engineers Way",\nComic Relief Danceathon,2015,0
22,09th March - 05th September 2015,W1T 7AQ,268-269 Tottenham Court Road,\nMichael Flatley's Lord Of The Dance: Dangero...,2015,0
23,09th - 15th March 2015,SE1 7PB,"Jubilee Gardens, South Bank",\nLondon Eye Turns 15,2015,0
24,10th - 15th March 2015,EC1R 4TN,Rosebery Avenue,\nEnglish National Ballet: Modern Masters,2015,0
25,10th March - 12th April 2015,W1D 3NE,21 Dean Street,\nRadiant Vermin,2015,0
26,10th March - 17th May 2015,SW1P 4RG,Millbank,\nNick Waplington & Alexander McQueen: Working...,2015,0
27,11th March - 02nd April 2015,E8 3DL,"24 Ashwin Street, Dalston",\nShrapnel: 34 Fragments of a Massacre,2015,0
28,11th March - 02nd May 2015,SE1 1RU,53 Southwark Street,\nBuyer and Cellar,2015,0
29,18th - 21st October 2018,SW11 4NJ,Battersea Park,\nAffordable Art Fair Battersea,2015,0
...,...,...,...,...,...,...
303,10th - 21st October 2018,SE1 8XT,"Belvedere Road, South Bank",\nBFI London Film Festival,2019,0
304,10th October - 27th January 2019,EC2Y 8DS,Silk Street,"\nModern Couples: Art, Intimacy And The Avant-...",2019,0
305,11th October - 27th January 2019,SE1 9TG,"Bankside Power Station, 25 Sumner Street",\nAnni Albers,2019,0
306,12th - 13th October 2018,TW9 3AB,"Kew, Richmond",\nTemperate Tipples,2019,0
307,14th October 2018,W2 2UH,Rangers Lodge,\nRoyal Parks Half Marathon,2019,0
308,15th - 21st October 2018,N1C 4AA,"West Handyside Canopy, One Wharf Road",\nChocolate Week,2019,0
309,16th October - 03rd November 2018,E9 6JQ,2 & 4 Homerton High Street,\nTea Break Theatre: Frankenstein,2019,0
310,17th October 2018,SW9 9SL,211 Stockwell Road,\nJorja Smith,2019,0
311,17th - 21st October 2018,WC1N 1NX,Bloomsbury,\nBloomsbury Festival,2019,0
312,18th - 21st October 2018,SW11 4NJ,Battersea Park,\nAffordable Art Fair Battersea,2019,0
313,18th - 28th October 2018,SE1 8XX,Belvedere Road,\nLondon Literature Festival,2019,0
314,18th October - 24th November 2018,NW3 3EU,Eton Avenue,\nI and You: Hampstead Theatre,2019,0
315,18th October - 27th January 2019,WC2H 0HE,St Martin's Place,\nTaylor Wessing Photographic Portrait Prize 2...,2019,0
316,19th - 20th October 2018,SW7 2AP,Kensington Gore,\nGuys and Dolls,2019,0
317,20th - 21st October 2018,SW6 1UD,47 Lillie Road,\nRumFest,2019,0
318,21st October 2018,SE1 1TL,Southwark Street,\nBorough Market Apple Day,2019,0
319,22nd - 23rd October 2018,SW1X 9DQ,5 Sloane Terrace,\nAt Last: The Etta James Story,2019,0
320,23rd October 2018,SE10 0BB,Peninsula Square,\nU2: ePERIENCE & iNNOCENCE Tour,2019,0
321,24th October - 24th February 2019,SW1P 4RG,Millbank,\nBurne-Jones,2019,0
322,24th October 2018,N22 7AY,"Alexandra Palace Way, Wood Green",\nBloc Party,2019,0
323,25th - 28th October 2018,SE10 0BB,Peninsula Square,\nBluesFest,2019,0
324,25th - 28th October 2018,SW11 4NJ,Battersea Park,\nThe Ski & Snowboard Show London,2019,0
325,25th October - 06th January 2019,SW7 5BD,Cromwell Road,\nNatural History Museum Ice Rink,2019,0
326,25th October - 08th December 2018,SW1Y 4DN,6 Panton Street,\nPinter at The Pinter: Landscape / A Kind Of ...,2019,0
327,25th October - 03rd March 2019,WC2R 1LA,Strand,"\nGood Grief, Charlie Brown!",2019,0
328,26th October - 22nd December 2018,NW6 7JR,269 Kilburn High Road,\nWhite Teeth,2019,0
329,27th October - 02nd February 2019,WC2H 0HH,2 Charing Cross Road,\nDon Quixote,2019,0
330,27th October 2018,WC2N 5DS,Central London,\nAfrica on the Square,2019,0
331,28th October 2018,WC2N 5DS,Central London,\nDiwali Festival,2019,0
332,29th October 2018,W1F 7TF,8 Argyll Street,\nJoanna Lumley: It's All About Me,2019,0

In [54]:
f.loc[f['dates'].str.contains('January'), 'Month'] = 1
f.loc[f['dates'].str.contains('February'), 'Month'] = 2
f.loc[f['dates'].str.contains('March'), 'Month'] = 3
f.loc[f['dates'].str.contains('April'), 'Month'] = 4
f.loc[f['dates'].str.contains('May'), 'Month'] = 5
f.loc[f['dates'].str.contains('June'), 'Month'] = 6
f.loc[f['dates'].str.contains('July'), 'Month'] = 7
f.loc[f['dates'].str.contains('August'), 'Month'] = 8
f.loc[f['dates'].str.contains('September'), 'Month'] = 9
f.loc[f['dates'].str.contains('October'), 'Month'] = 10
f.loc[f['dates'].str.contains('November'), 'Month'] = 11
f.loc[f['dates'].str.contains('December'), 'Month'] = 12

f.loc[f['dates'].str.contains('2015'), 'Year'] = 2015
f.loc[f['dates'].str.contains('2016'), 'Year'] = 2016
f.loc[f['dates'].str.contains('2017'), 'Year'] = 2017
f.loc[f['dates'].str.contains('2018'), 'Year'] = 2018
f.loc[f['dates'].str.contains('2019'), 'Year'] = 2019

In [10]:
f.shape

(1817, 6)

In [58]:
date = f['dates']
str(date)
days= []
dash = '-'
d = '0'

for index, row in date.iteritems():
    #if np.where(date.applymap(lambda x: x == '-')):
    #if date.apply(lambda x: any(pd.Series(x).str.contains('-'))):
    # if date.str.contains('-'):
  
    if dash in row and len(row)<28:
        b= row[7:9]
        a = row[0:2]
        c=a+b
        days.append(c)
        
    elif dash in row and len(row)>28:
        x= row[:16]
        days.append(x)
    else:
        b = row[:2]
        days.append(b)
        
        #if _type in result:
                    #values[_type].append(result[_type])
f=f.assign(Days = days)
print(days)
#df = pd.DataFrame({'Days': days})
len(days)
#df.to_csv('days.csv')

[u'0506', u'0809', u'0214', u'0307', u'0314', u'0428', u'0615', u'04rc', u'04th March - 06t', u'05th March - 31s', u'0621', u'0529', u'0506', u'05th March - 31s', u'2425', u'06', u'06', u'0708', u'0708', u'17', u'08', u'08', u'09th March - 05t', u'0915', u'1015', u'10', u'10rc', u'11', u'11rc', u'1821', u'12rc', u'12rc', u'1220', u'12', u'13rc', u'13', u'1315', u'13', u'14rc', u'14th March - 02n', u'18', u'28', u'16', u'1718', u'2831', u'1822', u'0915', u'0716', u'1821', u'08th February - ', u'21', u'20', u'20th March - 11t', u'2022', u'2021', u'17', u'21', u'2129', u'19', u'23', u'24rc', u'24rc', u'2426', u'2528', u'25', u'2527', u'25rc', u'2629', u'27th March - 13t', u'27', u'27', u'28', u'28th March - 31s', u'28th March - 28t', u'28rc', u'30', u'01st April - 31s', u'01ri', u'01ri', u'01', u'01st April - 13t', u'01st April - 31s', u'02nd April - 25t', u'29', u'02', u'2427', u'29th March - 16t', u'03', u'0405', u'0411', u'04', u'06', u'07ri', u'0809', u'09th April - 30t', u'07ri', u'0607', u'10ri', u'11th June - 04th', u'1125', u'27', u'07', u'14ri', u'1418', u'14', u'1415', u'14ri', u'14ri', u'14ri', u'1525', u'15th April - 09t', u'15', u'15', u'15ri', u'1618', u'16ri', u'16ri', u'1619', u'16', u'8t', u'0810', u'17', u'17ri', u'18', u'18ri', u'19', u'1920', u'21ri', u'2125', u'22', u'2326', u'2528', u'1417', u'21ri', u'23ri', u'24ri', u'18', u'25th April - 27t', u'20', u'2122', u'2526', u'25', u'Sa', u'28', u'27ri', u'29th April - 01s', u'30th April - 22n', u'2831', u'27', u'0103', u'3r', u'0131', u'0104', u'0104', u'9t', u'01st May - 05th ', u'29th April - 24t', u'4t', u'4t', u'02', u'02nd May - 01st ', u'0307', u'03', u'0517', u'05y ', u'Va', u'05th May - 25th ', u'1221', u'08y ', u'09y ', u'0910', u'0910', u'21', u'08', u'13', u'10', u'1126', u'1112', u'1216', u'1224', u'12y ', u'12th May - 02nd ', u'12', u'13', u'2527', u'14y ', u'2123', u'15y ', u'17th May - 09th ', u'27ri', u'1929', u'06', u'1517', u'17y ', u'1617', u'16th May - 31st ', u'16th May - 06th ', u'1617', u'1617', u'17', u'1516', u'17', u'21', u'1923', u'19y ', u'2123', u'2124', u'21y ', u'16', u'25', u'26y ', u'27y ', u'27y ', u'2830', u'2830', u'3031', u'30y ', u'19', u'Va', u'01', u'0127', u'0207', u'4t', u'0226', u'02', u'02nd June - 13th', u'03rd June - 11th', u'03rd June - 30th', u'0413', u'09', u'04th June - 27th', u'30th July - 25th', u'16', u'7t', u'0507', u'05', u'06', u'06ne', u'03', u'08', u'18', u'10', u'09ne', u'10', u'10th June - 06th', u'0824', u'1112', u'30ne', u'11ne', u'9t', u'14th June - 03rd', u'13', u'18', u'13ne', u'17', u'Va', u'Sa', u'14', u'1517', u'1618', u'17', u'13', u'12', u'1828', u'19ne', u'1921', u'19', u'19', u'1928', u'20', u'20', u'Sa', u'2028', u'21', u'21', u'21', u'22ne', u'23', u'2326', u'24th June - 25th', u'24th June - 07th', u'24ne', u'24ne', u'24th June - 11th', u'25th June - 18th', u'Fr', u'26', u'21', u'27', u'27', u'2728', u'21', u'1s', u'30ne', u'26ne', u'01st July - 06th', u'0104', u'01st July - 10th', u'02nd July - 18th', u'2628', u'03', u'Fr', u'04', u'04th July - 27th', u'04th July - 03rd', u'1015', u'0813', u'0811', u'08th July - 06th', u'11', u'09', u'0931', u'09', u'10', u'10th July - 10th', u'10', u'10th July - 27th', u'11', u'0116', u'11th July - 18th', u'1415', u'12', u'10', u'08', u'14', u'14', u'1416', u'15', u'15th July - 01st', u'16', u'16', u'17', u'19', u'15', u'1718', u'15', u'18', u'18', u'15', u'19', u'19', u'2025', u'29', u'21st July - 21st', u'2227', u'22nd July - 18th', u'2425', u'2224', u'2325', u'23', u'2426', u'25', u'25th July - 05th', u'25', u'26th July - 20th', u'2627', u'08', u'29', u'29', u'29th July - 27th', u'31st July - 05th', u'0405', u'Sa', u'19', u'Sa', u'1s', u'Sa', u'01', u'0607', u'14th August - 30', u'Su', u'Sunday 10th Augu', u'0429', u'05th August - 31', u'05th August - 27', u'05', u'0523', u'0516', u'8t', u'0206', u'07th August - 01', u'07', u'0607', u'09', u'10', u'0812', u'12', u'2122', u'12th August - 27', u'9t', u'1012', u'16', u'1730', u'1921', u'19th August - 17', u'21st August - 05', u'23', u'15rc', u'2327', u'2526', u'2628', u'29th August - 10', u'Sa', u'30', u'28', u'1s', u'01st September -', u'30', u'30th August - 16', u'0319', u'03', u'0406', u'05th September -', u'05th September -', u'05', u'05', u'06', u'03', u'06', u'06', u'07', u'2029', u'08th September -', u'08th September -', u'0913', u'09th September -', u'09', u'09th September -', u'12', u'10th September -', u'1922', u'10', u'10', u'1013', u'11th September -', u'11th September -', u'1112', u'10', u'Sa', u'Sa', u'12th September -', u'13', u'13', u'11', u'14th September -', u'14th September -', u'15', u'16th September -', u'17th September -', u'2223', u'1730', u'1720', u'2631', u'18', u'1819', u'1825', u'18th September -', u'17', u'Va', u'19th September -', u'16', u'19', u'1523', u'18th September -', u'19', u'1830', u'1822', u'20', u'20', u'1619', u'02', u'21', u'22', u'2224', u'23', u'1922', u'2427', u'2124', u'24th September -', u'24', u'2428', u'2127', u'25th September -', u'2527', u'25th September -', u'26', u'26th September -', u'2425', u'Su', u'27', u'27th September -', u'0405', u'26', u'1828', u'2829', u'29th September -', u'29', u'30th September -', u'01', u'01', u'12', u'02nd July - 02nd', u'02', u'02', u'02', u'03', u'04', u'05', u'0509', u'0530', u'1s', u'1s', u'06th July - 30th', u'11', u'08', u'08', u'5t', u'0709', u'09', u'03', u'1415', u'10', u'11th July - 17th', u'1015', u'13', u'1324', u'13', u'14th July - 16th', u'4t', u'1516', u'15th July - 07th', u'Fr', u'1517', u'19', u'14', u'2122', u'2223', u'15', u'17', u'18th July - 30th', u'2030', u'Fr', u'23ly', u'26', u'29th July - 10th', u'0405', u'Sa', u'30', u'29', u'Sa', u'2324', u'1s', u'11', u'30', u'8t', u'04th August - 02', u'0507', u'1315', u'0629', u'04', u'06', u'0607', u'07', u'0816', u'0812', u'0911', u'1012', u'10', u'10th August - 03', u'11th August - 11', u'1114', u'11', u'9t', u'12th August - 01', u'19', u'1519', u'16', u'18', u'1012', u'20th August - 12', u'2227', u'16', u'2425', u'24th August - 24', u'2528', u'2527', u'2729', u'2526', u'2628', u'2628', u'28', u'Sa', u'28', u'Su', u'28', u'31st August - 03', u'1922', u'01st September -', u'1s', u'0103', u'0217', u'31st August - 02', u'0204', u'0217', u'Sa', u'0324', u'03rd September -', u'03', u'03', u'04th September -', u'07th September -', u'0727', u'0811', u'08th September -', u'0911', u'10', u'Sa', u'Sa', u'10th September -', u'10th September -', u'10', u'11', u'13th September -', u'15th September -', u'16th September -', u'17th September -', u'17', u'Va', u'16', u'1523', u'24', u'17th September -', u'1920', u'22nd September -', u'1922', u'21', u'22nd September -', u'2124', u'23rd September -', u'2325', u'24th September -', u'27th September -', u'28th September -', u'29th September -', u'0131', u'0131', u'01st October - 3', u'01', u'2829', u'0708', u'02nd October - 2', u'0107', u'03rd October - 0', u'0429', u'04th October - 0', u'0405', u'1021', u'0107', u'05th October - 1', u'0527', u'1828', u'06th October - 0', u'0307', u'0307', u'0407', u'0407', u'06th October - 1', u'06th October - 1', u'07', u'0507', u'26th September -', u'07th October - 2', u'0708', u'14', u'11', u'02', u'12th October - 1', u'12th October - 1', u'13', u'13th October - 0', u'1416', u'14th October - 1', u'15th October - 2', u'1926', u'1721', u'19th October - 3', u'20th October - 2', u'1922', u'20', u'2022', u'21', u'22', u'24', u'2429', u'25th October - 2', u'25th October - 0', u'25', u'2527', u'26th October - 0', u'26th October - 1', u'2528', u'27th October - 2', u'27th October - 2', u'28th October - 2', u'28th October - 1', u'30th October - 0', u'01rc', u'0110', u'01rc', u'01st March - 15t', u'02', u'8t', u'03rc', u'04th March - 30t', u'0418', u'0411', u'0611', u'0809', u'07', u'0621', u'0825', u'08rc', u'0810', u'09rc', u'09rc', u'0710', u'1012', u'12', u'1218', u'1418', u'1524', u'15rc', u'15rc', u'17rc', u'18', u'19', u'20th March - 20t', u'2225', u'22', u'23rc', u'23rd March - 28t', u'23rc', u'23', u'24rc', u'2426', u'2531', u'29y ', u'28', u'29', u'31rc', u'31', u'31', u'28th July - 06th', u'0117', u'0121', u'01st April - 30t', u'07', u'07', u'02', u'03ri', u'04th April - 12t', u'0914', u'05th April - 01s', u'2831', u'07ri', u'07ri', u'07ri', u'0614', u'07', u'Fr', u'1112', u'1122', u'1115', u'1216', u'1322', u'1415', u'19', u'19', u'15th April - 10t', u'17ri', u'1820', u'19ri', u'19ri', u'1920', u'20ri', u'21ri', u'18', u'21', u'22', u'20', u'22ri', u'2223', u'28', u'07', u'23ri', u'24ri', u'24ri', u'24ri', u'25ri', u'26th April - 28t', u'26ri', u'27th April - 03r', u'2831', u'Va', u'28th April - 29t', u'04', u'2830', u'2829', u'4t', u'3r', u'27', u'29ri', u'25ri', u'0213', u'02y ', u'Va', u'0306', u'03', u'0307', u'2528', u'9t', u'04', u'2021', u'3r', u'Sa', u'10th May - 10th ', u'1020', u'03rd May - 01st ', u'2629', u'9t', u'10', u'1214', u'12', u'1213', u'12', u'13', u'13th May - 03rd ', u'13', u'Sa', u'14', u'13', u'15y ', u'16y ', u'18y ', u'16', u'17th May - 09th ', u'19th May - 03rd ', u'1929', u'19y ', u'19th May - 12th ', u'Sa', u'1927', u'20', u'22', u'21', u'23rd May - 18th ', u'24', u'25y ', u'25y ', u'25', u'2527', u'26th May - 10th ', u'27th May - 18th ', u'27', u'25', u'27', u'19', u'Su', u'28', u'18', u'30y ', u'30y ', u'30y ', u'31y ', u'2729', u'01', u'01', u'0102', u'1s', u'01', u'0116', u'02', u'02', u'7t', u'1s', u'8t', u'0309', u'1s', u'0516', u'05', u'0508', u'06th July - 01st', u'06', u'11', u'06', u'07', u'0709', u'5t', u'07', u'08', u'Sa', u'09', u'16', u'1015', u'12th July - 22nd', u'13th July - 07th', u'14th July - 28th', u'14th July - 15th', u'19', u'Fr', u'14th July - 02nd', u'1416', u'14', u'15', u'15th July - 12th', u'2122', u'1415', u'15', u'17', u'18th July - 28th', u'1921', u'2022', u'2122', u'22nd July - 01st', u'2223', u'20', u'22nd July - 25th', u'2429', u'26th July - 03rd', u'27', u'Sa', u'0304', u'28', u'Sa', u'29', u'2930', u'30', u'11', u'30', u'0105', u'1s', u'01', u'0124', u'0106', u'0102', u'02nd August - 07', u'0306', u'0405', u'9t', u'04th August - 02', u'1012', u'Sa', u'30', u'04th August - 30', u'05th August - 12', u'04', u'0405', u'05', u'0712', u'0812', u'10th August - 14', u'8t', u'10', u'4t', u'1128', u'0305', u'12th August - 30', u'12', u'1316', u'1516', u'17th August - 07', u'1820', u'1820', u'1819', u'19', u'14', u'2527', u'2528', u'2526', u'2628', u'2628', u'Sa', u'28', u'29th August - 17', u'31', u'31st August - 02', u'0123', u'03', u'04th September -', u'0409', u'0523', u'0523', u'06th September -', u'07th September -', u'0709', u'08th September -', u'Sa', u'Sa', u'09th September -', u'11th September -', u'12th September -', u'12th September -', u'1216', u'14th September -', u'14th September -', u'15th September -', u'1523', u'1624', u'Va', u'24', u'1619', u'1824', u'20th September -', u'1922', u'20th September -', u'2023', u'26th September -', u'21st September -', u'2124', u'22nd September -', u'2224', u'2224', u'23rd September -', u'Su', u'26th September -', u'2630', u'26th September -', u'27', u'27th September -', u'27th September -', u'2730', u'28th September -', u'2829', u'2830', u'29th September -', u'29th September -', u'30th September -', u'30th September -', u'0131', u'0107', u'0214', u'0107', u'02nd October - 3', u'03rd October - 0', u'03rd October - 0', u'04th October - 1', u'04th October - 0', u'1021', u'04th October - 0', u'04th October - 3', u'0407', u'27th September -', u'0508', u'05th October - 0', u'05th October - 0', u'0307', u'0407', u'05th October - 1', u'0507', u'06th October - 0', u'06th October - 1', u'07th October - 0', u'14', u'10th October - 0', u'12th October - 0', u'1828', u'1315', u'15th October - 0', u'18th October - 2', u'18th October - 3', u'18th October - 1', u'18th October - 0', u'1721', u'1821', u'1625', u'1922', u'19th October - 2', u'1921', u'1819', u'20th October - 2', u'2022', u'18th October - 2', u'0622', u'19', u'24th October - 0', u'25th October - 2', u'25th October - 1', u'26th October - 1', u'25th October - 0', u'26', u'2528', u'25th October - 3', u'28th October - 1', u'29', u'30th October - 1', u'30th October - 2', u'31st October - 0', u'01rc', u'01', u'01rc', u'02nd March - 09t', u'02rc', u'0203', u'03', u'04', u'0510', u'0617', u'07', u'0809', u'08th March - 09t', u'08', u'08th March - 27t', u'0710', u'0911', u'10', u'10', u'12', u'12', u'14', u'14th March - 05t', u'1517', u'15', u'16th March - 20t', u'16', u'18', u'1920', u'21rc', u'21', u'21st March - 02n', u'21rc', u'2122', u'21rc', u'22nd March - 07t', u'23rd March - 30t', u'2325', u'07', u'07', u'24th March - 06t', u'25', u'2628', u'26th March - 05t', u'2729', u'28th March - 12t', u'28', u'29rc', u'29', u'3031', u'1920', u'19', u'30', u'30', u'19', u'31rc', u'31', u'02nd April - 05t', u'03ri', u'05ri', u'0428', u'0621', u'0610', u'5t', u'0607', u'0614', u'06ri', u'09ri', u'09', u'1029', u'1113', u'2831', u'1221', u'1214', u'1227', u'12', u'13', u'14ri', u'14ri', u'1415', u'1821', u'18ri', u'19ri', u'2030', u'21ri', u'21st April - 27t', u'22', u'20', u'28', u'2324', u'18', u'2428', u'25', u'25th April - 26t', u'2831', u'26ri', u'26ri', u'2629', u'2628', u'27ri', u'28ri', u'2829', u'28', u'27', u'02', u'02y ', u'02y ', u'2528', u'0307', u'0413', u'3r', u'3r', u'05', u'4t', u'Sa', u'Sa', u'0607', u'06y ', u'0912', u'9t', u'10', u'1013', u'10', u'11th May - 11th ', u'12th May - 04th ', u'12', u'13', u'13', u'18', u'1619', u'17y ', u'17th May - 09th ', u'18', u'18y ', u'19', u'19', u'19', u'19', u'Va', u'1927', u'20', u'Su', u'2126', u'21', u'22y ', u'22nd May - 09th ', u'21', u'25y ', u'25y ', u'25y ', u'24', u'2527', u'Sa', u'25', u'2628', u'Su', u'Mo', u'4t', u'29y ', u'29y ', u'30y ', u'31y ', u'16', u'Fr', u'0102', u'0102', u'Va', u'01', u'02ne', u'Su', u'03', u'04ne', u'05th June - 16th', u'7t', u'06ne', u'0616', u'07ne', u'0818', u'0824', u'7t', u'08th June - 14th', u'0810', u'Va', u'15th June - 07th', u'Sa', u'0910', u'0910', u'10', u'11th June - 07th', u'11th June - 07th', u'10', u'12', u'19', u'Th', u'1415', u'13', u'14', u'15', u'1516', u'3r', u'16th June - 04th', u'Sa', u'18th June - 01st', u'19', u'19', u'2030', u'19', u'2124', u'16th June - 03rd', u'21', u'21st June - 29th', u'2230', u'22', u'23rd June - 08th', u'2324', u'Sa', u'27', u'14th June - 08th', u'28th June - 21st', u'27', u'28ne', u'7t', u'01', u'01', u'1s', u'1s', u'1s', u'03rd July - 30th', u'04th July - 22nd', u'0407', u'11', u'05th July - 04th', u'0628', u'12', u'5t', u'07', u'07', u'Sa', u'08', u'1015', u'1129', u'11th July - 28th', u'11', u'Fr', u'5t', u'13th July - 06th', u'1314', u'15', u'17th July - 08th', u'17', u'1922', u'20th July - 20th', u'20', u'2021', u'21st July - 30th', u'21', u'20', u'24th July - 05th', u'25', u'Sa', u'Sa', u'28', u'Sunday 10th Augu', u'Su', u'30', u'30th July - 17th', u'31', u'1s', u'0119', u'0131', u'02nd August - 01', u'02nd August - 22', u'02nd August - 02', u'03rd August - 15', u'9t', u'0406', u'0305', u'Sa', u'04', u'0405', u'0611', u'0711', u'0712', u'08th August - 30', u'0825', u'08th August - 02', u'08th August - 01', u'8t', u'12', u'1012', u'11', u'1315', u'14th August - 09', u'1419', u'1619', u'1719', u'Sa', u'22nd August - 30', u'22nd August - 02', u'2327', u'2327', u'2325', u'2425', u'23', u'2526', u'2526', u'24', u'2527', u'25', u'Sa', u'2628', u'30', u'30th August - 13', u'31st August - 02', u'31', u'0122', u'Sa', u'1s', u'0423', u'0529', u'0507', u'0509', u'05th September -', u'0608', u'06th September -', u'06th September -', u'06th September -', u'0615', u'06th September -', u'06th September -', u'07', u'0709', u'0709', u'0716', u'08th September -', u'Sa', u'Sa', u'08', u'Sa', u'10', u'11th September -', u'1215', u'1216', u'13th September -', u'14th September -', u'15th September -', u'1523', u'Su', u'16', u'Su', u'1619', u'17th September -', u'18th September -', u'1822', u'1830', u'1922', u'19th September -', u'2029', u'2023', u'21st September -', u'2122', u'Va', u'2223', u'2223', u'22', u'22', u'2728', u'Su', u'25th September -', u'26th September -', u'2627', u'26th September -', u'26th September -', u'26th September -', u'26th September -', u'27th September -', u'27th September -', u'28', u'Sa', u'28th September -', u'2830', u'28th September -', u'28th September -', u'29th September -', u'29', u'30', u'26th September -', u'0102', u'0131', u'3r', u'0409', u'0509', u'5t', u'6t', u'0621', u'7t', u'0710', u'0809', u'8t', u'8t', u'1011', u'12', u'12', u'1417', u'1417', u'14', u'14', u'17', u'18', u'18', u'19', u'2030', u'21', u'21', u'21', u'22', u'23', u'2531', u'25', u'2831', u'26', u'27', u'27', u'27', u'2831', u'2831', u'29', u'29', u'30', u'30', u'30', u'31', u'19', u'0121', u'0214', u'2n', u'0327', u'0406', u'0413', u'4t', u'0407', u'5t', u'5t', u'5t', u'5t', u'0622', u'6t', u'6t', u'6t', u'0614', u'07', u'07', u'0813', u'0914', u'10', u'11', u'11', u'11', u'13', u'1314', u'13', u'14', u'15', u'1617', u'16', u'9t', u'18', u'1920', u'20', u'2428', u'2528', u'26', u'26', u'26', u'27', u'27', u'2728', u'27', u'28', u'24', u'26', u'1s', u'2n', u'2n', u'2n', u'2n', u'3r', u'3r', u'3r', u'4t', u'Sa', u'Sa', u'4t', u'4t', u'Su', u'06y ', u'Tu', u'7t', u'Va', u'8t', u'9t', u'9t', u'10', u'10', u'Fr', u'10y ', u'11', u'Sa', u'Sa', u'Sa', u'Sa', u'11', u'13', u'Va', u'25', u'15th, 16th, 18th', u'16', u'16', u'16', u'17th May to 12th', u'17', u'Sa', u'Sa', u'18', u'18', u'Su', u'20', u'20y ', u'21', u'21', u'21', u'21', u'21', u'22', u'23', u'Fr', u'24', u'24', u'24', u'24', u'24', u'Fr', u'25', u'25', u'2530', u'Su', u'Mo', u'28', u'30', u'30', u'30', u'31', u'Va', u'3r', u'3r', u'4t', u'5t', u'0508', u'6t', u'7t', u'7t', u'Fr', u'7t', u'7t', u'Fr', u'7t', u'Va', u'08', u'Sa', u'Sa', u'10', u'12', u'12', u'13', u'Th', u'13', u'14', u'Sa', u'15', u'19', u'19', u'19', u'19ne', u'19', u'19', u'19', u'Sa', u'Sa', u'22ne', u'Sa', u'27', u'27', u'27', u'27', u'28', u'Su', u'Su', u'1s', u'1s', u'1s', u'4t', u'5t', u'5t', u'6t', u'Sa', u'Sa', u'7t', u'9t', u'11', u'11', u'11', u'12', u'Fr', u'12', u'Sa', u'Sa', u'Su', u'16', u'18', u'18', u'19', u'Va', u'20', u'Sa', u'Sa', u'23', u'29', u'31', u'1s', u'2n', u'Sa', u'Sa', u'Sa', u'Sa', u'8t', u'9t', u'Sa', u'14', u'Sa', u'Sa', u'20', u'We', u'Sa', u'Sa', u'24', u'29', u'Sa', u'3r', u'1s', u'1s', u'5t', u'6t', u'Sa', u'Sa', u'Sa', u'Su', u'18', u'20', u'21', u'21', u'Va', u'21', u'Su', u'We', u'Su', u'30', u'01st October - 2', u'0107', u'0131', u'0131', u'0106', u'0107', u'0107', u'02nd October - 2', u'0205', u'02nd October - 3', u'02nd October - 0', u'0307', u'03rd October - 0', u'0407', u'0407', u'04th October - 0', u'0407', u'0427', u'0507', u'05th October - 0', u'06th October - 1', u'6t', u'08th October - 1', u'10th October - 2', u'1021', u'10th October - 2', u'11th October - 2', u'1213', u'14', u'1521', u'16th October - 0', u'17', u'1721', u'1821', u'1828', u'18th October - 2', u'18th October - 2', u'1920', u'2021', u'21', u'2223', u'23', u'24th October - 2', u'24', u'2528', u'2528', u'25th October - 0', u'25th October - 0', u'25th October - 0', u'26th October - 2', u'27th October - 0', u'27', u'28', u'29']

1817

In [59]:
f

,dates,postcode,street,title,Year,Month,Days
0,05th - 06th June 2018,KT8 9AU,"East Molesey, Surrey",\nLionel Richie,2018,6,0506
1,08th - 09th March 2019,SE1 8XX,Belvedere Road,\nWomen of the World Festival,2019,3,0809
2,02nd - 14th March 2015,SW1E 5JA,12 Palace Street,\nRuby Wax: Sane New World,2015,3,0214
3,03rd - 07th March 2015,TW9 1QJ,"The Green, Surrey",\nHarvey,2015,3,0307
4,03rd - 14th March 2015,NW1 3BF,"15-16 Triton Street, Regents Place",\nCitizen Puppet,2015,3,0314
5,04th - 28th March 2015,EC2Y 8DS,Silk Street,\nAntigone,2015,3,0428
6,06th - 15th September 2018,SW11 5TN,Lavender Hill,\nMissing,2018,9,0615
7,04th March - 31st May 2015,WC2N 5DN,Trafalgar Square,\nInventing Impressionism,2015,5,04rc
8,04th March - 06th September 2015,SW3 4SQ,"Duke of York's Square, King's Road",\nPangaea II: New Art from Africa and Latin Am...,2015,9,04th March - 06t
9,05th March - 31st August 2015,SE1 6HZ,"Lambeth Road, Elephant and Castle",\nFashion on the Ration,2015,8,05th March - 31s
10,06th - 21st March 2019,EC2M 4WY,9 Devonshire Square,\nHouse of Holi,2019,3,0621
11,05th - 29th March 2015,WC2R 1LA,Strand,\nBeard,2015,3,0529
12,05th - 06th March 2015,EC1R 4TN,Rosebery Avenue,\nFrancois Chaignaud and Cecilia Bengolea: TWERK,2015,3,0506
13,05th March - 31st December 2015,WC2N 5DS,Central London,\nHans Haacke: Gift Horse,2015,12,05th March - 31s
14,24th - 25th March 2016,NW1 8EH,Chalk Farm Road,\nUnderworld,2016,3,2425
15,06th March - 18th April 2015,NW3 3EU,Eton Avenue,\nStevie,2015,4,06
16,06th March - 06th March 2016,N1C 4TB,"1 Pancras Square, King's Boulevard",\nSpeirs & Major: HALFLIFE,2016,3,06
17,07th - 08th March 2015,W14 8UX,Hammersmith Road,\nLondon Bass Guitar Show 2015,2015,3,0708
18,07th - 08th March 2015,E15 4QZ,"383-387 High Street, Stratford",\nAnthony Browne's The Big Write,2015,3,0708
19,17th July 2016,EC3M 3BY,20 Fenchurch Street,\nStep Up Challenge,2016,7,17
20,08th March 2015,EC2Y 8DS,Silk Street,\nUnsuk Chin: Alice In Wonderland,2015,3,08
21,08th March 2015,HA9 0DH,"Arena Square, Engineers Way",\nComic Relief Danceathon,2015,3,08
22,09th March - 05th September 2015,W1T 7AQ,268-269 Tottenham Court Road,\nMichael Flatley's Lord Of The Dance: Dangero...,2015,9,09th March - 05t
23,09th - 15th March 2015,SE1 7PB,"Jubilee Gardens, South Bank",\nLondon Eye Turns 15,2015,3,0915
24,10th - 15th March 2015,EC1R 4TN,Rosebery Avenue,\nEnglish National Ballet: Modern Masters,2015,3,1015
25,10th March - 12th April 2015,W1D 3NE,21 Dean Street,\nRadiant Vermin,2015,4,10
26,10th March - 17th May 2015,SW1P 4RG,Millbank,\nNick Waplington & Alexander McQueen: Working...,2015,5,10rc
27,11th March - 02nd April 2015,E8 3DL,"24 Ashwin Street, Dalston",\nShrapnel: 34 Fragments of a Massacre,2015,4,11
28,11th March - 02nd May 2015,SE1 1RU,53 Southwark Street,\nBuyer and Cellar,2015,5,11rc
29,18th - 21st October 2018,SW11 4NJ,Battersea Park,\nAffordable Art Fair Battersea,2018,10,1821
...,...,...,...,...,...,...,...
303,10th - 21st October 2018,SE1 8XT,"Belvedere Road, South Bank",\nBFI London Film Festival,2018,10,1021
304,10th October - 27th January 2019,EC2Y 8DS,Silk Street,"\nModern Couples: Art, Intimacy And The Avant-...",2019,10,10th October - 2
305,11th October - 27th January 2019,SE1 9TG,"Bankside Power Station, 25 Sumner Street",\nAnni Albers,2019,10,11th October - 2
306,12th - 13th October 2018,TW9 3AB,"Kew, Richmond",\nTemperate Tipples,2018,10,1213
307,14th October 2018,W2 2UH,Rangers Lodge,\nRoyal Parks Half Marathon,2018,10,14
308,15th - 21st October 2018,N1C 4AA,"West Handyside Canopy, One Wharf Road",\nChocolate Week,2018,10,1521
309,16th October - 03rd November 2018,E9 6JQ,2 & 4 Homerton High Street,\nTea Break Theatre: Frankenstein,2018,11,16th October - 0
310,17th October 2018,SW9 9SL,211 Stockwell Road,\nJorja Smith,2018,10,17
311,17th - 21st October 2018,WC1N 1NX,Bloomsbury,\nBloomsbury Festival,2018,10,1721
312,18th - 21st October 2018,SW11 4NJ,Battersea Park,\nAffordable Art Fair Battersea,2018,10,1821
313,18th - 28th October 2018,SE1 8XX,Belvedere Road,\nLondon Literature Festival,2018,10,1828
314,18th October - 24th November 2018,NW3 3EU,Eton Avenue,\nI and You: Hampstead Theatre,2018,11,18th October - 2
315,18th October - 27th January 2019,WC2H 0HE,St Martin's Place,\nTaylor Wessing Photographic Portrait Prize 2...,2019,10,18th October - 2
316,19th - 20th October 2018,SW7 2AP,Kensington Gore,\nGuys and Dolls,2018,10,1920
317,20th - 21st October 2018,SW6 1UD,47 Lillie Road,\nRumFest,2018,10,2021
318,21st October 2018,SE1 1TL,Southwark Street,\nBorough Market Apple Day,2018,10,21
319,22nd - 23rd October 2018,SW1X 9DQ,5 Sloane Terrace,\nAt Last: The Etta James Story,2018,10,2223
320,23rd October 2018,SE10 0BB,Peninsula Square,\nU2: ePERIENCE & iNNOCENCE Tour,2018,10,23
321,24th October - 24th February 2019,SW1P 4RG,Millbank,\nBurne-Jones,2019,10,24th October - 2
322,24th October 2018,N22 7AY,"Alexandra Palace Way, Wood Green",\nBloc Party,2018,10,24
323,25th - 28th October 2018,SE10 0BB,Peninsula Square,\nBluesFest,2018,10,2528
324,25th - 28th October 2018,SW11 4NJ,Battersea Park,\nThe Ski & Snowboard Show London,2018,10,2528
325,25th October - 06th January 2019,SW7 5BD,Cromwell Road,\nNatural History Museum Ice Rink,2019,10,25th October - 0
326,25th October - 08th December 2018,SW1Y 4DN,6 Panton Street,\nPinter at The Pinter: Landscape / A Kind Of ...,2018,12,25th October - 0
327,25th October - 03rd March 2019,WC2R 1LA,Strand,"\nGood Grief, Charlie Brown!",2019,10,25th October - 0
328,26th October - 22nd December 2018,NW6 7JR,269 Kilburn High Road,\nWhite Teeth,2018,12,26th October - 2
329,27th October - 02nd February 2019,WC2H 0HH,2 Charing Cross Road,\nDon Quixote,2019,10,27th October - 0
330,27th October 2018,WC2N 5DS,Central London,\nAfrica on the Square,2018,10,27
331,28th October 2018,WC2N 5DS,Central London,\nDiwali Festival,2018,10,28
332,29th October 2018,W1F 7TF,8 Argyll Street,\nJoanna Lumley: It's All About Me,2018,10,29

In [60]:
#f.to_csv('newdata.csv')

In [ ]:
stations = pd.read_csv('/home/kronork/mapReduce/raw/rental_stations_saved.csv')

In [ ]:
stations.head()

## 3. Earnings
Extracted earnings in Weekly Gross Pay (Â£) from 2015-2019 from [Office for National Statistics](https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/bulletins/annualsurveyofhoursandearnings/2016provisionalresults).</br>
### To Do:
* assign districts to coordinates
* assign earnings to stations

In [ ]:
earnings = pd.read_csv('/home/kronork/mapReduce/Data_Profiling/earnings.csv')
earnings.head()