In [1]:
#required imports
from sklearn.neural_network import MLPRegressor
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error  
from math import sqrt

In [2]:
#load features
features = pd.read_csv("features.csv")
features.head()

,Month,Season,Weekday,Holiday,Daily Weather,Daily Weather (Past),Humidity,Humidity (Past),Windspeed,Windspeed (Past),Apparent Temperature (Avg),Apparent Temperature (Avg) (Past),Rented Bikes,Rented Bikes (Future)
0,January,Winter,Monday,False,partly-cloudy-day,fog,0.88,0.94,1.59,0.55,46.740,36.295,281,279
1,January,Winter,Tuesday,False,partly-cloudy-day,partly-cloudy-day,0.86,0.88,2.07,1.59,42.150,46.740,279,274
2,January,Winter,Wednesday,False,clear-day,partly-cloudy-day,0.86,0.86,4.13,2.07,45.450,42.150,274,161
3,January,Winter,Thursday,False,rain,clear-day,0.87,0.86,3.60,4.13,46.200,45.450,161,270
4,January,Winter,Friday,False,partly-cloudy-day,rain,0.81,0.87,7.43,3.60,56.085,46.200,270,62

In [4]:
#target variable
y = features['Rented Bikes'].tolist()

In [5]:
len(y)

1514

In [7]:
#transorm non-numerical labels to numerical labels
le = LabelEncoder()
features.loc[:,'Holiday'] = le.fit_transform(features['Holiday'])
features.head()

,Month,Season,Weekday,Holiday,Daily Weather,Daily Weather (Past),Humidity,Humidity (Past),Windspeed,Windspeed (Past),Apparent Temperature (Avg),Apparent Temperature (Avg) (Past),Rented Bikes,Rented Bikes (Future)
0,January,Winter,Monday,0,partly-cloudy-day,fog,0.88,0.94,1.59,0.55,46.740,36.295,281,279
1,January,Winter,Tuesday,0,partly-cloudy-day,partly-cloudy-day,0.86,0.88,2.07,1.59,42.150,46.740,279,274
2,January,Winter,Wednesday,0,clear-day,partly-cloudy-day,0.86,0.86,4.13,2.07,45.450,42.150,274,161
3,January,Winter,Thursday,0,rain,clear-day,0.87,0.86,3.60,4.13,46.200,45.450,161,270
4,January,Winter,Friday,0,partly-cloudy-day,rain,0.81,0.87,7.43,3.60,56.085,46.200,270,62

In [8]:
#transorm non-numerical labels to numerical labels
cleanup_nums = {"Month":   {"January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6, "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12},
               "Season": {"Spring": 1, "Summer": 2, "Autumn": 3, "Winter": 4},
               "Weekday": {"Monday": 1, "Tuesday": 2, "Wednesday": 3, "Thursday": 4,
                                  "Friday": 5, "Saturday": 6, "Sunday":7 },
               "Daily Weather": {"clear-day": 1, "partly-cloudy-day": 2,"cloudy":3,"wind":4, "rain": 5, "fog": 6, "snow": 7},
               "Daily Weather (Past)": {"clear-day": 1, "partly-cloudy-day": 2,"cloudy":3,"wind":4, "rain": 5,"fog": 6, "snow": 7} }

In [9]:
features.replace(cleanup_nums, inplace=True)

In [10]:
features.head()

,Month,Season,Weekday,Holiday,Daily Weather,Daily Weather (Past),Humidity,Humidity (Past),Windspeed,Windspeed (Past),Apparent Temperature (Avg),Apparent Temperature (Avg) (Past),Rented Bikes,Rented Bikes (Future)
0,1,4,1,0,2,6,0.88,0.94,1.59,0.55,46.740,36.295,281,279
1,1,4,2,0,2,2,0.86,0.88,2.07,1.59,42.150,46.740,279,274
2,1,4,3,0,1,2,0.86,0.86,4.13,2.07,45.450,42.150,274,161
3,1,4,4,0,5,1,0.87,0.86,3.60,4.13,46.200,45.450,161,270
4,1,4,5,0,2,5,0.81,0.87,7.43,3.60,56.085,46.200,270,62

In [11]:
features.shape

(1514, 14)

In [12]:
#Feature Matrix without past
X=features.loc[:,['Month','Season','Weekday','Daily Weather','Humidity','Windspeed', 'Apparent Temperature (Avg)','Rented Bikes (Future)']]
X.head()

,Month,Season,Weekday,Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Rented Bikes (Future)
0,1,4,1,2,0.88,1.59,46.740,279
1,1,4,2,2,0.86,2.07,42.150,274
2,1,4,3,1,0.86,4.13,45.450,161
3,1,4,4,5,0.87,3.60,46.200,270
4,1,4,5,2,0.81,7.43,56.085,62

In [13]:
#Split into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
#initialize MLPRegressor
mlp = MLPRegressor(
    hidden_layer_sizes=(10,5),  activation='relu', solver='lbfgs', alpha=0.001, batch_size='auto',
    learning_rate='constant', learning_rate_init=0.01, power_t=0.5, max_iter=1000, shuffle=True,
    random_state=9, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True,
    early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)

m = mlp.fit(X_train,y_train)

predictions = m.predict(X_test)

In [15]:
#Print scores
print("Training set score: %f" % m.score(X_train, y_train))
print("Test set score: %f" % m.score(X_test, y_test))

Training set score: 0.899432
Test set score: 0.691343

In [16]:
#Compare predicted and actual values
df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})  
df.head()

   Actual   Predicted
0      30   44.108324
1      36   43.086909
2     359  330.659433
3     340  342.651226
4     286  315.634504

In [17]:
#Returns the coefficient of determination R^2 of the prediction
"The accuracy of the model is {0:.3f}".format(mlp.score(X_train,y_train))

'The accuracy of the model is 0.899'

## Accuracy
Recommended from [Sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html#sklearn.neural_network.MLPRegressor)<br>
```python
score(X, y, sample_weight=None)
```
Returns the coefficient of determination R^2 of the prediction.

The coefficient R^2 is defined as (1 - u/v), where u is the residual sum of squares ((y_true - y_pred) ** 2).sum() and v is the total sum of squares ((y_true - y_true.mean()) ** 2).sum(). The best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse). A constant model that always predicts the expected value of y, disregarding the input features, would get a R^2 score of 0.0.

In [18]:
#accuracy formular
a=df.loc[:,'Actual']
b=df.loc[:,'Predicted']
c= b.mean()
u= ((a-b)**2).sum()
v= ((a-c)**2).sum()
r= (1-(u/v))
result = sqrt(r)
result

0.8316580928197538

## RMSE = Root Mean Square Error 
is a frequently used measure of the differences between values predicted by a model. 

It is the standard deviation of prediction errors.<br>
[RMSE](https://www.statisticshowto.datasciencecentral.com/rmse/) answers the question of how concentrated the data is around the line of best fit.
![](img/rmse.png)
Where:<br>
f = forecasts (expected values or unknown results)<br>
o = observed values (known results)

In [19]:
#RMSE version 1
a=df.loc[:,'Actual']
b=df.loc[:,'Predicted']
rmse=sqrt(mean_squared_error(a, b))  
"The root mean square error of the model is {0:.3f}".format(rmse)

'The root mean square error of the model is 73.174'

In [20]:
#RMSE version 2
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse = rmse(a,b)
"The root mean square error of the model is {0:.3f}".format(rmse)

'The root mean square error of the model is 73.174'

In [21]:
##RMSE version 3
n = len(b)
rmse = np.linalg.norm(b - a) / np.sqrt(n)
"The root mean square error of the model is {0:.3f}".format(rmse)

'The root mean square error of the model is 73.174'