In [29]:
from sklearn.neural_network import MLPRegressor
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer

In [30]:
#load features
features = pd.read_csv("features.csv")
features.head()

,StartStation Id,EndStation Id,Frequency,StartStation capacity,Daily Weather,Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months
0,109,722,35,57,partly-cloudy-day,Wednesday,Summer,night,False,8,2018-08-15,2018,1,8
1,109,777,8,57,partly-cloudy-day,Saturday,Summer,night,False,8,2016-08-13,2016,3,32
2,109,636,3,57,partly-cloudy-day,Wednesday,Summer,night,False,6,2017-06-21,2017,2,22
3,109,399,86,57,partly-cloudy-day,Saturday,Autumn,night,False,9,2016-09-24,2016,3,31
4,109,462,286,57,partly-cloudy-day,Monday,Summer,night,False,7,2015-07-20,2015,4,45

In [31]:
#target variable
y = features['Frequency']
y.head()

0     35
1      8
2      3
3     86
4    286
Name: Frequency, dtype: int64

In [32]:
#transorm non-numerical labels to numerical labels
le = LabelEncoder()
features.loc[:,'Date'] = le.fit_transform(features['Date'])
features.loc[:,'Daily Weather'] = le.fit_transform(features['Daily Weather'])
features.loc[:,'Weekday'] = le.fit_transform(features['Weekday'])
features.loc[:,'Season'] = le.fit_transform(features['Season'])
features.loc[:,'Season'] = le.fit_transform(features['Season'])
features.loc[:,'Day & Night'] = le.fit_transform(features['Day & Night'])
features.loc[:,'Holiday'] = le.fit_transform(features['Holiday'])
features.head()

,StartStation Id,EndStation Id,Frequency,StartStation capacity,Daily Weather,Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months
0,109,722,35,57,3,6,2,1,0,8,468,2018,1,8
1,109,777,8,57,3,2,2,1,0,8,251,2016,3,32
2,109,636,3,57,3,6,2,1,0,6,326,2017,2,22
3,109,399,86,57,3,2,0,1,0,9,267,2016,3,31
4,109,462,286,57,3,1,2,1,0,7,81,2015,4,45

In [33]:
features.shape

(776, 14)

In [34]:
#Feature Matrix
#X=features.loc[:,['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
X=features.loc[:,['StartStation Id','EndStation Id','StartStation capacity','Daily Weather','Weekday','Season','Day & Night','Year','Passed_Years','Passed_Months']]
X.head()

,StartStation Id,EndStation Id,StartStation capacity,Daily Weather,Weekday,Season,Day & Night,Year,Passed_Years,Passed_Months
0,109,722,57,3,6,2,1,2018,1,8
1,109,777,57,3,2,2,1,2016,3,32
2,109,636,57,3,6,2,1,2017,2,22
3,109,399,57,3,2,0,1,2016,3,31
4,109,462,57,3,1,2,1,2015,4,45

In [35]:
X.columns

Index([u'StartStation Id', u'EndStation Id', u'StartStation capacity',
       u'Daily Weather', u'Weekday', u'Season', u'Day & Night', u'Year',
       u'Passed_Years', u'Passed_Months'],
      dtype='object')

In [36]:
#Standardize data
preprocessing.scale(X)

array([[ 0.        ,  1.26207676,  0.        , ...,  1.65514008,
        -1.65514008, -1.74709647],
       [ 0.        ,  1.48833083,  0.        , ..., -0.18364117,
         0.18364117,  0.07168076],
       [ 0.        ,  0.90829768,  0.        , ...,  0.73574946,
        -0.73574946, -0.68614309],
       ...,
       [ 0.        ,  0.14726128,  0.        , ..., -1.10303179,
         1.10303179,  1.13263415],
       [ 0.        ,  1.08107351,  0.        , ..., -0.18364117,
         0.18364117,  0.29902791],
       [ 0.        , -0.06253794,  0.        , ..., -1.10303179,
         1.10303179,  1.51154607]])

In [37]:
nn = MLPRegressor(
    hidden_layer_sizes=(100,),  activation='relu', solver='lbfgs', alpha=0.001, batch_size='auto',
    learning_rate='constant', learning_rate_init=0.01, power_t=0.5, max_iter=1000, shuffle=True,
    random_state=9, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True,
    early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)

n = nn.fit(X, y)
n

MLPRegressor(activation='relu', alpha=0.001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.01, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=9, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [38]:
X_train, X_test = X[:600], X[600:]
y_train, y_test = y[:600], y[600:]

In [39]:
n.fit(X_train, y_train)
print("Training set score: %f" % nn.score(X_train, y_train))
print("Test set score: %f" % nn.score(X_test, y_test))

Training set score: 0.121774
Test set score: 0.151953

In [40]:
#Returns the coefficient of determination R^2 of the prediction
"The accuracy of the model is {0:.7f}".format(n.score(X,y))

'The accuracy of the model is 0.1251710'