In [1]:
from sklearn.neural_network import MLPRegressor
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split

In [2]:
#load features
features = pd.read_csv("features.csv")
features.head()

,StartStation Id,EndStation Id,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months,Frequency
0,191,420,3.348973,fog,0.94,0.55,"36,295",Sunday,Winter,day,False,1,2015-01-04,2015,4,51,6
1,191,197,2.923018,fog,0.94,0.55,"36,295",Sunday,Winter,night,False,1,2015-01-04,2015,4,51,6
2,191,571,4.513921,fog,0.94,0.55,"36,295",Sunday,Winter,day,False,1,2015-01-04,2015,4,51,6
3,191,356,1.713820,fog,0.94,0.55,"36,295",Sunday,Winter,day,False,1,2015-01-04,2015,4,51,6
4,191,500,7.038191,fog,0.94,0.55,"36,295",Sunday,Winter,night,False,1,2015-01-04,2015,4,51,6

In [3]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33927 entries, 0 to 33926
Data columns (total 17 columns):
StartStation Id               33927 non-null int64
EndStation Id                 33927 non-null int64
distance (geodesic)           33927 non-null float64
Daily Weather                 33927 non-null object
Humidity                      33927 non-null float64
Windspeed                     33927 non-null float64
Apparent Temperature (Avg)    33927 non-null object
Weekday                       33927 non-null object
Season                        33927 non-null object
Day & Night                   33927 non-null object
Holiday                       33927 non-null bool
Month                         33927 non-null int64
Date                          33927 non-null object
Year                          33927 non-null int64
Passed_Years                  33927 non-null int64
Passed_Months                 33927 non-null int64
Frequency                     33927 non-null int64
dtypes: bool(1), float64(3), int64(7), object(6)
memory usage: 4.2+ MB

In [4]:
features.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
StartStation Id,33927.0,191.000000,0.000000,191.000000,191.000000,191.000000,191.000000,191.000000
EndStation Id,33927.0,339.282135,211.481795,1.000000,178.000000,303.000000,433.000000,833.000000
distance (geodesic),33927.0,2.522826,1.475433,0.133183,1.504256,2.230317,3.386037,11.064184
Humidity,33927.0,0.722088,0.089981,0.410000,0.660000,0.720000,0.790000,0.970000
Windspeed,33927.0,3.034031,2.135066,0.020000,1.630000,2.550000,3.810000,18.450000
Month,33927.0,6.601881,2.205832,1.000000,5.000000,7.000000,8.000000,12.000000
Year,33927.0,2016.321573,1.067266,2015.000000,2015.000000,2016.000000,2017.000000,2018.000000
Passed_Years,33927.0,2.678427,1.067266,1.000000,2.000000,3.000000,4.000000,4.000000
Passed_Months,33927.0,29.539246,13.014761,7.000000,20.000000,31.000000,43.000000,51.000000
Frequency,33927.0,92.874495,101.625346,1.000000,26.000000,52.000000,115.000000,433.000000

In [5]:
#target variable
y = features['Frequency'].tolist()
y

[6,
 6,
 6,
 6,
 6,
 6,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 6,
 6,
 6,
 6,
 6,
 6,
 4,
 4,
 4,
 4,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 1,
 1,
 4,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 6,
 6,
 6,
 6,
 6,
 6,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 3,
 3,
 3,
 2,
 2,
 1,
 5,
 5,
 5,
 5,
 5,
 1,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 6,
 6,
 6,
 6,
 6,
 6,
 3,
 3,
 3,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 4,
 4,
 4,
 4,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 4,
 4,
 4,
 4,
 6,
 6,
 6,
 6,
 6,
 6,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 1,
 6,
 6,
 6,
 6,
 6,
 6,
 2,
 2,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 1,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 6,
 6,
 6,
 6,
 6,
 6,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 4,
 4,
 4,
 4,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 4,
 4,
 4,
 4,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 6,
 6,
 6,
 6,
 6,
 6,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 ...]

In [6]:
len(y)

33927

In [7]:
#transorm non-numerical labels to numerical labels
le = LabelEncoder()
features.loc[:,'Date'] = le.fit_transform(features['Date'])
features.loc[:,'Daily Weather'] = le.fit_transform(features['Daily Weather'])
features.loc[:,'Weekday'] = le.fit_transform(features['Weekday'])
features.loc[:,'Season'] = le.fit_transform(features['Season'])
features.loc[:,'Season'] = le.fit_transform(features['Season'])
features.loc[:,'Day & Night'] = le.fit_transform(features['Day & Night'])
features.loc[:,'Holiday'] = le.fit_transform(features['Holiday'])
features.head()

,StartStation Id,EndStation Id,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months,Frequency
0,191,420,3.348973,2,0.94,0.55,"36,295",3,3,0,0,1,0,2015,4,51,6
1,191,197,2.923018,2,0.94,0.55,"36,295",3,3,1,0,1,0,2015,4,51,6
2,191,571,4.513921,2,0.94,0.55,"36,295",3,3,0,0,1,0,2015,4,51,6
3,191,356,1.713820,2,0.94,0.55,"36,295",3,3,0,0,1,0,2015,4,51,6
4,191,500,7.038191,2,0.94,0.55,"36,295",3,3,1,0,1,0,2015,4,51,6

In [8]:
features.drop(columns=["StartStation Id", "EndStation Id", "distance (geodesic)"], inplace=True, errors="ignore")

In [19]:
features.info()

features["Apparent Temperature (Avg)"] = features["Apparent Temperature (Avg)"].str.replace(',', ".").astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33927 entries, 0 to 33926
Data columns (total 14 columns):
Daily Weather                 33927 non-null int32
Humidity                      33927 non-null float64
Windspeed                     33927 non-null float64
Apparent Temperature (Avg)    33927 non-null object
Weekday                       33927 non-null int32
Season                        33927 non-null int64
Day & Night                   33927 non-null int32
Holiday                       33927 non-null int64
Month                         33927 non-null int64
Date                          33927 non-null int32
Year                          33927 non-null int64
Passed_Years                  33927 non-null int64
Passed_Months                 33927 non-null int64
Frequency                     33927 non-null int64
dtypes: float64(2), int32(4), int64(7), object(1)
memory usage: 3.1+ MB

In [20]:
features.shape

(33927, 14)

In [21]:
#Feature Matrix
#X=features.loc[:,['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
#X=features.loc[:,['StartStation Id','EndStation Id','StartStation capacity','Daily Weather','Weekday','Season','Day & Night','Year','Passed_Years','Passed_Months']]
X=features.loc[:,['Windspeed','Humidity','Apparent Temperature (Avg)','Daily Weather','Weekday','Season','Day & Night','Year', 'Date', 'Month','Passed_Years','Passed_Months']]
X.head()
y = features.loc[:,'Frequency']

In [31]:
features.head()

,Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months,Frequency
0,2,0.94,0.55,36.295,3,3,0,0,1,0,2015,4,51,6
1,2,0.94,0.55,36.295,3,3,1,0,1,0,2015,4,51,6
2,2,0.94,0.55,36.295,3,3,0,0,1,0,2015,4,51,6
3,2,0.94,0.55,36.295,3,3,0,0,1,0,2015,4,51,6
4,2,0.94,0.55,36.295,3,3,1,0,1,0,2015,4,51,6

In [23]:
#Standardize data
#preprocessing.scale(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

D:\Anaconda3\envs\prana\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda3\envs\prana\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.

D:\Anaconda3\envs\prana\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  import sys

In [25]:
mlp = MLPRegressor(
    hidden_layer_sizes=(50,),  activation='logistic', solver='lbfgs', alpha=0.001, batch_size='auto',
    learning_rate='constant', learning_rate_init=0.01, power_t=0.5, max_iter=1000, shuffle=True,
    random_state=9, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True,
    early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)

m = mlp.fit(X_train,y_train)

predictions = m.predict(X_test)

#n = nn.fit(X, y)
#n

In [26]:
#X_train, X_test = X[:600], X[600:]
#y_train, y_test = y[:600], y[600:]

In [27]:
#n.fit(X_train, y_train)
print("Training set score: %f" % m.score(X_train, y_train))
print("Test set score: %f" % m.score(X_test, y_test))

Training set score: 0.967674
Test set score: 0.965442

In [28]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})  
df

       Actual   Predicted
8366       65   44.318952
12703      76   76.116899
31309      39   54.221880
19740       5   36.736288
21312      29   33.776335
32249      78   80.136629
4111       83  105.698692
33824      32   38.949760
28986      30   34.190731
30294      54   53.906734
17207      27   42.674087
17586      10   14.013363
33579      48   48.138231
21353     239  238.893000
1097       50   59.170240
17067      44   36.512296
4054       83  105.697752
21174      23   20.896164
27947       8   12.042241
24699     327  316.811095
841        58   18.520106
26594     409  407.760177
17857      62   17.564793
13454     130  103.190803
21382     239  238.893000
25113     325  319.871318
16545      31   29.499028
25556     237  231.530283
32054      49   48.253080
2034       36   44.316083
...       ...         ...
28775       8   15.058147
14346      32   29.654357
4497      115  115.272066
19144      14   21.661947
4534      115  115.272066
17889      62   17.564793
7493       46   42.791836
5127       76   78.324529
29713      95   88.705269
30042      23   39.491476
4447       89  105.682163
4349       86  103.092558
26182     266  265.151893
9034       26   18.522781
12263      43   62.497095
18331      30    6.952005
8305       19   24.536588
23747     275  275.285679
1548       30   37.530280
6104       30   50.402788
24716     327  325.399206
29920      15   22.157872
33716      29   14.424932
17073      44   36.512296
934        42   17.138417
1696       17   39.469727
12011      64   62.456663
27464     229  226.651420
29658      95   88.705269
31532      70   46.520037

[10179 rows x 2 columns]

In [32]:
#Returns the coefficient of determination R^2 of the prediction
"The accuracy of the model is {0:.7f}".format(mlp.score(X_train,y_train))

'The accuracy of the model is 0.9676737'