#### Feature Engineering ####
The process of `feature engineering` includes following steps:

- Brainstorming or Testing features;
- Deciding what features to create;
- Creating features;
- Checking how the features work with your model;
- Improving your features if needed;
- Go back to brainstorming/creating more features until the work is done.

In [24]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import holidays as hd
import calendar
from datetime import datetime, date
from pprint import pprint

In [25]:
cycle_usage = pd.read_csv("cycleusage_cleansed.csv")
cycle_usage.count()

StartStation Id               33927
Start Date                    33927
EndStation Id                 33927
End Date                      33927
Duration                      33927
StartStation Id Used          33927
EndStation Id Used            33927
Frequency                     33927
StartStation Address          33927
StartStation latitude         33927
StartStation longitude        33927
StartStation capacity         33927
EndStation Address            33927
EndStation latitude           33927
EndStation longitude          33927
EndStation capacity           33927
distance (geodesic)           33927
Daily Weather                 33927
Hourly Weather                33927
Humidity                      33927
Windspeed                     33927
Apparent Temperature (Avg)    33927
dtype: int64

In [26]:
cycle_usage[cycle_usage["StartStation Id"] == 191]

,StartStation Id,Start Date,EndStation Id,End Date,Duration,StartStation Id Used,EndStation Id Used,Frequency,StartStation Address,StartStation latitude,...,EndStation Address,EndStation latitude,EndStation longitude,EndStation capacity,distance (geodesic),Daily Weather,Hourly Weather,Humidity,Windspeed,Apparent Temperature (Avg)
0,191,04/09/2015 11:24,172,04/09/2015 11:41,1020,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1441321200, 'summary': 'Partly Cloud...",0.76,1.62,"53,95"
1,191,02/08/2015 16:23,172,02/08/2015 19:15,10320,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-night,"[{'time': 1438470000, 'summary': 'Clear', 'ico...",0.65,1.86,"69,165"
2,191,23/10/2017 19:55,172,23/10/2017 20:13,1080,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1508713200, 'summary': 'Overcast', '...",0.89,3.17,"59,145"
3,191,19/08/2016 21:14,172,19/08/2016 21:33,1140,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1471561200, 'summary': 'Partly Cloud...",0.88,2.57,"62,46"
4,191,07/08/2015 21:05,172,07/08/2015 21:25,1200,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1438902000, 'summary': 'Clear', 'ico...",0.67,0.41,"66,11"
5,191,28/11/2017 11:19,223,28/11/2017 11:39,1200,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1511827200, 'summary': 'Clear', 'ico...",0.82,2.97,"36,725"
6,191,21/06/2015 20:09,172,21/06/2015 20:30,1260,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1434841200, 'summary': 'Mostly Cloud...",0.70,3.76,"60,33"
7,191,08/05/2016 19:55,223,08/05/2016 20:16,1260,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,clear-day,"[{'time': 1462662000, 'summary': 'Clear', 'ico...",0.55,2.89,"68,235"
8,191,21/06/2015 20:08,172,21/06/2015 20:30,1320,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1434841200, 'summary': 'Mostly Cloud...",0.70,3.76,"60,33"
9,191,03/07/2017 19:51,223,03/07/2017 20:13,1320,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1499036400, 'summary': 'Clear', 'ico...",0.70,3.07,"64,69"
10,191,25/04/2015 18:28,486,25/04/2015 18:50,1320,239846,58800,8,"Hyde Park Corner, Hyde Park",51.503118,...,"Granby Street, Shoreditch",51.525645,-0.069543,37,6.345569,partly-cloudy-day,"[{'time': 1429916400, 'summary': 'Mostly Cloud...",0.80,4.61,"54,805"
11,191,17/06/2017 21:33,172,17/06/2017 21:56,1380,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1497654000, 'summary': 'Partly Cloud...",0.69,1.44,"73,76"
12,191,11/08/2015 15:31,223,11/08/2015 15:54,1380,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1439247600, 'summary': 'Clear', 'ico...",0.75,0.12,"64,59"
13,191,21/06/2015 20:06,172,21/06/2015 20:30,1440,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1434841200, 'summary': 'Mostly Cloud...",0.70,3.76,"60,33"
14,191,11/08/2015 15:30,223,11/08/2015 15:54,1440,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1439247600, 'summary': 'Clear', 'ico...",0.75,0.12,"64,59"
15,191,13/08/2016 23:18,172,13/08/2016 23:43,1500,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1471042800, 'summary': 'Clear', 'ico...",0.70,3.03,"67,6"
16,191,11/04/2016 19:05,223,11/04/2016 19:30,1500,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1460329200, 'summary': 'Mostly Cloud...",0.82,1.65,"52,02"
17,191,17/06/2017 21:29,172,17/06/2017 21:55,1560,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1497654000, 'summary': 'Partly Cloud...",0.69,1.44,"73,76"
18,191,20/08/2015 15:56,223,20/08/2015 16:22,1560,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1440025200, 'summary': 'Light Rain',...",0.87,2.39,"67,715"
19,191,19/08/2017 20:01,172,19/08/2017 20:27,1568,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1503097200, 'summary': 'Partly Cloud...",0.69,5.08,"58,925"
20,191,19/08/2017 20:01,172,19/08/2017 20:27,1569,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1503097200, 'summary': 'Partly Cloud...",0.69,5.08,"58,925"
21,191,17/06/2017 21:29,172,17/06/2017 21:56,1620,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1497654000, 'summary': 'Partly Cloud...",0.69,1.44,"73,76"
22,191,30/03/2016 18:40,223,30/03/2016 19:07,1620,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1459292400, 'summary': 'Partly Cloud...",0.75,2.68,"47,25"
23,191,02/08/2015 14:41,172,02/08/2015 19:15,16440,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-night,"[{'time': 1438470000, 'summary': 'Clear', 'ico...",0.65,1.86,"69,165"
24,191,17/06/2017 21:28,172,17/06/2017 21:56,1680,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1497654000, 'summary': 'Partly Cloud...",0.69,1.44,"73,76"
25,191,01/01/2018 03:12,172,01/01/2018 03:41,1740,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-night,"[{'time': 1514764800, 'summary': 'Mostly Cloud...",0.81,5.07,"40,93"
26,191,12/08/2015 15:41,223,12/08/2015 16:10,1740,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1439334000, 'summary': 'Clear', 'ico...",0.76,2.74,"66,255"
27,191,24/04/2016 12:36,172,24/04/2016 13:06,1800,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1461452400, 'summary': 'Partly Cloud...",0.69,2.47,"45,22"
28,191,16/07/2016 20:37,223,16/07/2016 21:07,1800,239846,39262,48,"Hyde Park Corner, Hyde Park",51.503118,...,"Rodney Road , Walworth",51.491485,-0.090221,24,4.582428,partly-cloudy-day,"[{'time': 1468623600, 'summary': 'Overcast', '...",0.76,3.73,"72,32"
29,191,05/07/2018 22:03,172,05/07/2018 22:34,1860,239846,30287,104,"Hyde Park Corner, Hyde Park",51.503118,...,"Sumner Place, South Kensington",51.491212,-0.173716,19,1.929121,partly-cloudy-day,"[{'time': 1530745200, 'summary': 'Mostly Cloud...",0.60,2.89,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33897,191,06/07/2018 17:37,39,06/07/2018 18:13,2160,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1530831600, 'summary': 'Clear', 'ico...",0.58,3.59,"73,785"
33898,191,13/08/2017 13:30,39,13/08/2017 14:06,2164,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,clear-day,"[{'time': 1502578800, 'summary': 'Clear', 'ico...",0.61,1.30,"61,395"
33899,191,16/08/2016 19:01,39,16/08/2016 19:38,2220,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1471302000, 'summary': 'Clear', 'ico...",0.73,2.19,"64,285"
33900,191,23/07/2018 20:35,39,23/07/2018 21:14,2340,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1532300400, 'summary': 'Clear', 'ico...",0.53,6.27,"75,355"
33901,191,02/04/2017 16:52,39,02/04/2017 17:32,2400,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1491087600, 'summary': 'Partly Cloud...",0.75,1.37,"51,295"
33902,191,25/09/2016 16:48,39,25/09/2016 17:30,2520,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1474758000, 'summary': 'Clear', 'ico...",0.71,3.27,"58,215"
33903,191,19/06/2015 17:17,466,20/06/2015 00:32,26100,239846,25416,3,"Hyde Park Corner, Hyde Park",51.503118,...,"Whiston Road, Haggerston",51.534464,-0.076341,21,6.392367,partly-cloudy-day,"[{'time': 1434668400, 'summary': 'Clear', 'ico...",0.63,2.73,"61,705"
33904,191,30/07/2016 11:30,809,30/07/2016 12:17,2820,239846,24193,26,"Hyde Park Corner, Hyde Park",51.503118,...,"Lincoln's Inn Fields, Holborn",51.516278,-0.118273,28,2.851682,partly-cloudy-day,"[{'time': 1469833200, 'summary': 'Mostly Cloud...",0.73,1.38,"63,14"
33905,191,30/07/2016 11:29,809,30/07/2016 12:17,2880,239846,24193,26,"Hyde Park Corner, Hyde Park",51.503118,...,"Lincoln's Inn Fields, Holborn",51.516278,-0.118273,28,2.851682,partly-cloudy-day,"[{'time': 1469833200, 'summary': 'Mostly Cloud...",0.73,1.38,"63,14"
33906,191,09/10/2016 18:05,39,09/10/2016 18:55,3000,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1475967600, 'summary': 'Mostly Cloud...",0.80,2.16,"50,715"
33907,191,03/07/2017 19:54,39,03/07/2017 20:45,3060,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1499036400, 'summary': 'Clear', 'ico...",0.70,3.07,"64,69"
33908,191,23/04/2018 14:10,809,23/04/2018 15:01,3060,239846,24193,26,"Hyde Park Corner, Hyde Park",51.503118,...,"Lincoln's Inn Fields, Holborn",51.516278,-0.118273,28,2.851682,partly-cloudy-day,"[{'time': 1524438000, 'summary': 'Clear', 'ico...",0.71,4.68,"56,7"
33909,191,18/11/2017 22:35,39,18/11/2017 23:28,3180,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1510963200, 'summary': 'Overcast', '...",0.86,2.57,"42,25"
33910,191,18/11/2017 22:35,39,18/11/2017 23:29,3240,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1510963200, 'summary': 'Overcast', '...",0.86,2.57,"42,25"
33911,191,02/09/2018 18:08,39,02/09/2018 19:03,3300,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,clear-day,"[{'time': 1535842800, 'summary': 'Clear', 'ico...",0.61,4.26,"62,625"
33912,191,18/11/2017 22:32,39,18/11/2017 23:28,3360,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1510963200, 'summary': 'Overcast', '...",0.86,2.57,"42,25"
33913,191,30/06/2018 16:45,39,30/06/2018 17:43,3480,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1530313200, 'summary': 'Clear', 'ico...",0.58,9.95,"69,73"
33914,191,27/06/2015 23:03,39,28/06/2015 00:04,3660,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1435359600, 'summary': 'Mostly Cloud...",0.64,2.55,"67,29"
33915,191,09/09/2017 16:04,39,09/09/2017 17:06,3720,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1504911600, 'summary': 'Clear', 'ico...",0.82,2.52,"55,9"
33916,191,28/07/2018 11:38,809,28/07/2018 12:50,4320,239846,24193,26,"Hyde Park Corner, Hyde Park",51.503118,...,"Lincoln's Inn Fields, Holborn",51.516278,-0.118273,28,2.851682,wind,"[{'time': 1532732400, 'summary': 'Mostly Cloud...",0.63,14.90,"66,77"
33917,191,26/05/2016 22:58,39,27/05/2016 00:14,4560,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1464217200, 'summary': 'Overcast', '...",0.72,0.80,"59,32"
33918,191,26/05/2016 22:58,39,27/05/2016 00:15,4620,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1464217200, 'summary': 'Overcast', '...",0.72,0.80,"59,32"
33919,191,21/07/2018 18:12,39,21/07/2018 19:30,4680,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1532127600, 'summary': 'Partly Cloud...",0.63,3.46,"70,61"
33920,191,18/06/2015 22:42,39,19/06/2015 00:06,5040,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1434582000, 'summary': 'Partly Cloud...",0.63,3.35,"60,55"
33921,191,30/10/2016 21:10,466,30/10/2016 22:46,5760,239846,25416,3,"Hyde Park Corner, Hyde Park",51.503118,...,"Whiston Road, Haggerston",51.534464,-0.076341,21,6.392367,fog,"[{'time': 1477782000, 'summary': 'Foggy', 'ico...",0.94,0.29,"52,015"
33922,191,30/10/2016 21:08,466,30/10/2016 22:46,5880,239846,25416,3,"Hyde Park Corner, Hyde Park",51.503118,...,"Whiston Road, Haggerston",51.534464,-0.076341,21,6.392367,fog,"[{'time': 1477782000, 'summary': 'Foggy', 'ico...",0.94,0.29,"52,015"
33923,191,30/10/2016 11:22,39,30/10/2016 13:04,6120,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,fog,"[{'time': 1477782000, 'summary': 'Foggy', 'ico...",0.94,0.29,"52,015"
33924,191,10/06/2017 14:27,809,10/06/2017 16:17,6600,239846,24193,26,"Hyde Park Corner, Hyde Park",51.503118,...,"Lincoln's Inn Fields, Holborn",51.516278,-0.118273,28,2.851682,partly-cloudy-day,"[{'time': 1497049200, 'summary': 'Clear', 'ico...",0.71,5.09,"67,505"
33925,191,16/04/2018 16:31,39,16/04/2018 19:05,9240,239846,122938,29,"Hyde Park Corner, Hyde Park",51.503118,...,"Shoreditch High Street, Shoreditch",51.526378,-0.078131,41,5.838299,partly-cloudy-day,"[{'time': 1523833200, 'summary': 'Mostly Cloud...",0.71,5.00,"53,465"
33926,191,04/07/2018 08:36,809,04/07/2018 08:52,960,239846,24193,26,"Hyde Park Corner, Hyde Park",51.503118,...,"Lincoln's Inn Fields, Holborn",51.516278,-0.118273,28,2.851682,partly-cloudy-day,"[{'time': 1530658800, 'summary': 'Partly Cloud...",0.64,4.17,"69,795"

In [27]:
rm_columns = {
    #"StartStation Id",
    #"Start Date",
    "StartStation Address",
   # "StartStation capacity",
    #"EndStation Id",
    "End Date",
    "EndStation Address",
   # "EndStation capacity",
   # "Duration",
   # "Frequency",
  #  "Humidity",
   # "Windspeed",
  #  "Apparent Temperature (Avg)",
    "StartStation Id Used",
    "EndStation Id Used",
    "StartStation latitude",
    "StartStation longitude",
    "EndStation latitude",
    "EndStation longitude",
    "Hourly Weather",
   # "distance (geodesic)"
   # "Daily Weather"
}

cycle_usage.drop(columns=rm_columns, inplace=True)
cycle_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33927 entries, 0 to 33926
Data columns (total 12 columns):
StartStation Id               33927 non-null int64
Start Date                    33927 non-null object
EndStation Id                 33927 non-null int64
Duration                      33927 non-null int64
Frequency                     33927 non-null int64
StartStation capacity         33927 non-null int64
EndStation capacity           33927 non-null int64
distance (geodesic)           33927 non-null float64
Daily Weather                 33927 non-null object
Humidity                      33927 non-null float64
Windspeed                     33927 non-null float64
Apparent Temperature (Avg)    33927 non-null object
dtypes: float64(3), int64(6), object(3)
memory usage: 3.1+ MB

In [28]:
# Check for empty values and empty strings
np.where(pd.isnull(cycle_usage))
np.where(cycle_usage.applymap(lambda x: x == ''))

(array([], dtype=int64), array([], dtype=int64))

#### Darksky note:#####
> Our system is presently very simple: it finds the “worst” weather condition that will happen during the day (4AM to 4AM), and uses the icon for it. The only case where a daily icon will show a *-night value is partly-cloudy-night, and this is done to match the daily summary text. We already have intentions to change this behavior, because it is confusing. 
In the meantime, you can assume that if partly-cloudy-night is the worst weather condition that was found, that it was clear during the day. So you can just treat partly-cloudy-night as an alias for clear-day.

In [29]:
#print(cycle_usage.iloc[452861]["Start Date"][:10], cycle_usage.iloc[452861]["Start Date"][-5:])

In [30]:
cycle_usage.groupby(by="Daily Weather").count()
cycle_usage["Daily Weather"].loc[cycle_usage["Daily Weather"]=="partly-cloudy-night"] = "clear-day"

In [31]:
# Inconsistent dates e.g. 00:00 01:25:00
#cycle_usage.iloc[452861]
for index, p in cycle_usage.iterrows():
    if (len(p["Start Date"]) == 19):
      #  print(index, p["Start Date"])
        cycle_usage["Start Date"].iloc[index] = p["Start Date"][:16]
    elif (len(p["Start Date"]) > 19):
        print("anomaly", index, p["Start Date"])
        cycle_usage["Start Date"].iloc[index] = p["Start Date"][:10] + " " +p["Start Date"][-5:]

cycle_usage.dropna(inplace=True)
cycle_usage.count()

StartStation Id               33927
Start Date                    33927
EndStation Id                 33927
Duration                      33927
Frequency                     33927
StartStation capacity         33927
EndStation capacity           33927
distance (geodesic)           33927
Daily Weather                 33927
Humidity                      33927
Windspeed                     33927
Apparent Temperature (Avg)    33927
dtype: int64

Adding weekdays (Monday, Tuesday...)

In [32]:
#Add weekdays
cycle_usage["Start Date"] =  pd.to_datetime(cycle_usage["Start Date"], format='%d/%m/%Y %H:%M')
cycle_usage['Weekday'] = cycle_usage.apply(lambda row: calendar.day_name[row["Start Date"].weekday()],axis=1)

In [33]:
cycle_usage.head()

,StartStation Id,Start Date,EndStation Id,Duration,Frequency,StartStation capacity,EndStation capacity,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday
0,191,2015-09-04 11:24:00,172,1020,104,28,19,1.929121,partly-cloudy-day,0.76,1.62,"53,95",Friday
1,191,2015-08-02 16:23:00,172,10320,104,28,19,1.929121,clear-day,0.65,1.86,"69,165",Sunday
2,191,2017-10-23 19:55:00,172,1080,104,28,19,1.929121,partly-cloudy-day,0.89,3.17,"59,145",Monday
3,191,2016-08-19 21:14:00,172,1140,104,28,19,1.929121,partly-cloudy-day,0.88,2.57,"62,46",Friday
4,191,2015-08-07 21:05:00,172,1200,104,28,19,1.929121,partly-cloudy-day,0.67,0.41,"66,11",Friday


`Meteorologische Jahreszeiten` <br>
Nördliche Hemisphäre <br>
Frühling: 1. März bis 31. Mai <br>
Sommer: 1. Juni bis 31. August <br>
Herbst: 1. September bis 30. November <br>
Winter: 1. Dezember bis 28. Februar <br>

In [34]:
#Add seasons
def seasons(p):
    """Get meteorological season"""
    year = int(str(p["Start Date"])[:4])
    date_m = p["Start Date"]
    if date_m >= datetime(year, 3, 1, 0,0,0) and date_m <= datetime(year, 5, 31, 23,59,59):
        return "Spring"
    elif date_m >= datetime(year, 6, 1, 0,0,0) and date_m <= datetime(year, 8, 31, 23,59,59):
        return "Summer"
    elif date_m >= datetime(year, 9, 1, 0,0,0) and date_m <= datetime(year, 11, 30, 23,59,59):
        return "Autumn"
    elif date_m >= datetime(year, 12, 1, 0,0,0) or date_m < datetime(year, 3, 1, 23,59,59):
        return "Winter"
        
cycle_usage['Season'] = cycle_usage.apply(lambda row: seasons(row),axis=1)
cycle_usage.head()

,StartStation Id,Start Date,EndStation Id,Duration,Frequency,StartStation capacity,EndStation capacity,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season
0,191,2015-09-04 11:24:00,172,1020,104,28,19,1.929121,partly-cloudy-day,0.76,1.62,"53,95",Friday,Autumn
1,191,2015-08-02 16:23:00,172,10320,104,28,19,1.929121,clear-day,0.65,1.86,"69,165",Sunday,Summer
2,191,2017-10-23 19:55:00,172,1080,104,28,19,1.929121,partly-cloudy-day,0.89,3.17,"59,145",Monday,Autumn
3,191,2016-08-19 21:14:00,172,1140,104,28,19,1.929121,partly-cloudy-day,0.88,2.57,"62,46",Friday,Summer
4,191,2015-08-07 21:05:00,172,1200,104,28,19,1.929121,partly-cloudy-day,0.67,0.41,"66,11",Friday,Summer

 ##### Day & Night cycle ####
 After 6 pm night, after 6 am day → “Day” & “Night”

In [35]:
#Day night state
def daynight(p):
    """Returns day or night depending on clock"""
    timeclock = p["Start Date"].hour
    if timeclock > 6 and timeclock < 18:
        return "day"
    else:
        return "night"       
cycle_usage["Day & Night"] = cycle_usage.apply(lambda row: daynight(row), axis=1)

###### Holidays ######
Check if that day is a specific holiday?

In [36]:
#Consider holidays (e.g. Good Friday in UK)
def holiday(p):
    """ Checks if holiday """
    uk_holidays = hd.UK()
    if (p["Start Date"].date() in uk_holidays):
        return True
    else:
        return False
    
for date2, name in sorted(hd.UK(state='London', years=[2015,2016,2017], observed=False).items()):
    print(date2, name)
    
cycle_usage["Holiday"] = cycle_usage.apply(lambda row: holiday(row), axis=1)            
cycle_usage.head()

2015-01-01 New Year's Day
2015-01-02 New Year Holiday [Scotland]
2015-03-17 St. Patrick's Day [Northern Ireland]
2015-04-03 Good Friday
2015-04-06 Easter Monday [England, Wales, Northern Ireland]
2015-05-04 May Day
2015-05-25 Spring Bank Holiday
2015-07-12 Battle of the Boyne [Northern Ireland]
2015-08-03 Summer Bank Holiday [Scotland]
2015-08-31 Late Summer Bank Holiday [England, Wales, Northern Ireland]
2015-11-30 St. Andrew's Day [Scotland]
2015-12-25 Christmas Day
2015-12-26 Boxing Day
2016-01-01 New Year's Day
2016-01-02 New Year Holiday [Scotland]
2016-03-17 St. Patrick's Day [Northern Ireland]
2016-03-25 Good Friday
2016-03-28 Easter Monday [England, Wales, Northern Ireland]
2016-05-02 May Day
2016-05-30 Spring Bank Holiday
2016-07-12 Battle of the Boyne [Northern Ireland]
2016-08-01 Summer Bank Holiday [Scotland]
2016-08-29 Late Summer Bank Holiday [England, Wales, Northern Ireland]
2016-11-30 St. Andrew's Day [Scotland]
2016-12-25 Christmas Day
2016-12-26 Boxing Day
2017-01-01 New Year's Day
2017-01-02 New Year Holiday [Scotland]
2017-03-17 St. Patrick's Day [Northern Ireland]
2017-04-14 Good Friday
2017-04-17 Easter Monday [England, Wales, Northern Ireland]
2017-05-01 May Day
2017-05-29 Spring Bank Holiday
2017-07-12 Battle of the Boyne [Northern Ireland]
2017-08-07 Summer Bank Holiday [Scotland]
2017-08-28 Late Summer Bank Holiday [England, Wales, Northern Ireland]
2017-11-30 St. Andrew's Day [Scotland]
2017-12-25 Christmas Day
2017-12-26 Boxing Day

,StartStation Id,Start Date,EndStation Id,Duration,Frequency,StartStation capacity,EndStation capacity,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday
0,191,2015-09-04 11:24:00,172,1020,104,28,19,1.929121,partly-cloudy-day,0.76,1.62,"53,95",Friday,Autumn,day,False
1,191,2015-08-02 16:23:00,172,10320,104,28,19,1.929121,clear-day,0.65,1.86,"69,165",Sunday,Summer,day,False
2,191,2017-10-23 19:55:00,172,1080,104,28,19,1.929121,partly-cloudy-day,0.89,3.17,"59,145",Monday,Autumn,night,False
3,191,2016-08-19 21:14:00,172,1140,104,28,19,1.929121,partly-cloudy-day,0.88,2.57,"62,46",Friday,Summer,night,False
4,191,2015-08-07 21:05:00,172,1200,104,28,19,1.929121,partly-cloudy-day,0.67,0.41,"66,11",Friday,Summer,night,False

In [37]:
# Months
def months_names(p):
    """Returns month name"""
    months = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December"
    }
    return months.get(p["Start Date"].month, "not defined")

cycle_usage["Month"] = cycle_usage.apply(lambda row: months_names(row), axis=1)

##### Split Start Date #####
> Dates are difficult to handle for ML. Idea: splitting to several columns

In [38]:
#Extract only dd-mm-YYYY
cycle_usage['Date'] = cycle_usage.apply(lambda row: str(row["Start Date"])[:10], axis=1)
cycle_usage['Date'] = pd.to_datetime(cycle_usage.Date, format="%Y/%m/%d")
#Extracting Year
cycle_usage['Year'] = cycle_usage['Date'].dt.year
#Extracting Month
cycle_usage['Month'] = cycle_usage['Date'].dt.month
#Extracting passed years since the date
cycle_usage['Passed_Years'] = date.today().year - cycle_usage['Date'].dt.year
#Extracting passed months since the date
cycle_usage['Passed_Months'] = (date.today().year - cycle_usage['Date'].dt.year) * 12 + date.today().month - cycle_usage['Date'].dt.month
cycle_usage.head()

,StartStation Id,Start Date,EndStation Id,Duration,Frequency,StartStation capacity,EndStation capacity,distance (geodesic),Daily Weather,Humidity,...,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months
0,191,2015-09-04 11:24:00,172,1020,104,28,19,1.929121,partly-cloudy-day,0.76,...,"53,95",Friday,Autumn,day,False,9,2015-09-04,2015,4,43
1,191,2015-08-02 16:23:00,172,10320,104,28,19,1.929121,clear-day,0.65,...,"69,165",Sunday,Summer,day,False,8,2015-08-02,2015,4,44
2,191,2017-10-23 19:55:00,172,1080,104,28,19,1.929121,partly-cloudy-day,0.89,...,"59,145",Monday,Autumn,night,False,10,2017-10-23,2017,2,18
3,191,2016-08-19 21:14:00,172,1140,104,28,19,1.929121,partly-cloudy-day,0.88,...,"62,46",Friday,Summer,night,False,8,2016-08-19,2016,3,32
4,191,2015-08-07 21:05:00,172,1200,104,28,19,1.929121,partly-cloudy-day,0.67,...,"66,11",Friday,Summer,night,False,8,2015-08-07,2015,4,44

In [39]:
cycle_usage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33927 entries, 0 to 33926
Data columns (total 21 columns):
StartStation Id               33927 non-null int64
Start Date                    33927 non-null datetime64[ns]
EndStation Id                 33927 non-null int64
Duration                      33927 non-null int64
Frequency                     33927 non-null int64
StartStation capacity         33927 non-null int64
EndStation capacity           33927 non-null int64
distance (geodesic)           33927 non-null float64
Daily Weather                 33927 non-null object
Humidity                      33927 non-null float64
Windspeed                     33927 non-null float64
Apparent Temperature (Avg)    33927 non-null object
Weekday                       33927 non-null object
Season                        33927 non-null object
Day & Night                   33927 non-null object
Holiday                       33927 non-null bool
Month                         33927 non-null int64
Date                          33927 non-null datetime64[ns]
Year                          33927 non-null int64
Passed_Years                  33927 non-null int64
Passed_Months                 33927 non-null int64
dtypes: bool(1), datetime64[ns](2), float64(3), int64(10), object(5)
memory usage: 5.5+ MB

In [40]:
rm_columns = {
    #"StartStation Id",
    "Start Date",
    "StartStation Address",
    "StartStation capacity",
    #"EndStation Id",
    "End Date",
    "EndStation Address",
    "EndStation capacity",
    "Duration",
    "Frequency",
   # "Humidity",
   # "Windspeed",
   # "Apparent Temperature (Avg)",
    "StartStation Id Used",
    "EndStation Id Used",
    "StartStation latitude",
    "StartStation longitude",
    "EndStation latitude",
    "EndStation longitude",
    "Hourly Weather",
   # "distance (geodesic)"
   # "Daily Weather"
}

cycle_usage.drop(columns=rm_columns, inplace=True, errors="ignore")
#cycle_usage.drop_duplicates(inplace=True)
cycle_usage.head()

,StartStation Id,EndStation Id,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months
0,191,172,1.929121,partly-cloudy-day,0.76,1.62,"53,95",Friday,Autumn,day,False,9,2015-09-04,2015,4,43
1,191,172,1.929121,clear-day,0.65,1.86,"69,165",Sunday,Summer,day,False,8,2015-08-02,2015,4,44
2,191,172,1.929121,partly-cloudy-day,0.89,3.17,"59,145",Monday,Autumn,night,False,10,2017-10-23,2017,2,18
3,191,172,1.929121,partly-cloudy-day,0.88,2.57,"62,46",Friday,Summer,night,False,8,2016-08-19,2016,3,32
4,191,172,1.929121,partly-cloudy-day,0.67,0.41,"66,11",Friday,Summer,night,False,8,2015-08-07,2015,4,44

In [41]:
cycle_usage.count()

StartStation Id               33927
EndStation Id                 33927
distance (geodesic)           33927
Daily Weather                 33927
Humidity                      33927
Windspeed                     33927
Apparent Temperature (Avg)    33927
Weekday                       33927
Season                        33927
Day & Night                   33927
Holiday                       33927
Month                         33927
Date                          33927
Year                          33927
Passed_Years                  33927
Passed_Months                 33927
dtype: int64

In [42]:
# Calculate new frequency of rented bikes
cycle_usage = pd.merge(cycle_usage, cycle_usage.groupby(["Date"])["Humidity"].count().reset_index(name="Frequency"), how='left', on="Date", 
         left_index=False, right_index=False, sort=True)

In [43]:
#cycle_usage.iloc[67]

In [44]:
#Get the most frequently occurring record
cycle_usage.groupby(by="StartStation Id").count().sort_values("Frequency", ascending=False).head(1)

,EndStation Id,distance (geodesic),Daily Weather,Humidity,Windspeed,Apparent Temperature (Avg),Weekday,Season,Day & Night,Holiday,Month,Date,Year,Passed_Years,Passed_Months,Frequency
StartStation Id,,,,,,,,,,,,,,,,
191,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927,33927

In [45]:
cycle_usage = cycle_usage[cycle_usage["StartStation Id"] == 191]

In [46]:
cycle_usage.to_csv("features.csv", header=True, index=False)