In [1]:
#required imports
from sklearn.neural_network import MLPRegressor
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error  
from math import sqrt

In [3]:
#load features
features = pd.read_csv("features.csv")
features.head()

,Month,Season,Weekday,Holiday,Daily Weather,Daily Weather (Past),Humidity,Humidity (Past),Windspeed,Windspeed (Past),Apparent Temperature (Avg),Apparent Temperature (Avg) (Past),Rented Bikes,Rented Bikes (Future)
0,January,Winter,Monday,False,partly-cloudy-day,fog,0.88,0.94,1.59,0.55,46.740,36.295,281,279
1,January,Winter,Tuesday,False,partly-cloudy-day,partly-cloudy-day,0.86,0.88,2.07,1.59,42.150,46.740,279,274
2,January,Winter,Wednesday,False,clear-day,partly-cloudy-day,0.86,0.86,4.13,2.07,45.450,42.150,274,161
3,January,Winter,Thursday,False,rain,clear-day,0.87,0.86,3.60,4.13,46.200,45.450,161,270
4,January,Winter,Friday,False,partly-cloudy-day,rain,0.81,0.87,7.43,3.60,56.085,46.200,270,62

In [4]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1514 entries, 0 to 1513
Data columns (total 14 columns):
Month                                1514 non-null object
Season                               1514 non-null object
Weekday                              1514 non-null object
Holiday                              1514 non-null bool
Daily Weather                        1514 non-null object
Daily Weather (Past)                 1514 non-null object
Humidity                             1514 non-null float64
Humidity (Past)                      1514 non-null float64
Windspeed                            1514 non-null float64
Windspeed (Past)                     1514 non-null float64
Apparent Temperature (Avg)           1514 non-null float64
Apparent Temperature (Avg) (Past)    1514 non-null float64
Rented Bikes                         1514 non-null int64
Rented Bikes (Future)                1514 non-null int64
dtypes: bool(1), float64(6), int64(2), object(5)
memory usage: 155.3+ KB

In [5]:
features.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Humidity,1514.0,0.779703,0.092875,0.410,0.7125,0.7900,0.85000,0.97
Humidity (Past),1514.0,0.779848,0.092995,0.410,0.7125,0.7900,0.85000,0.97
Windspeed,1514.0,4.028626,3.025981,0.020,2.0425,3.2400,5.14500,20.50
Windspeed (Past),1514.0,4.025938,3.026238,0.020,2.0400,3.2400,5.13000,20.50
Apparent Temperature (Avg),1514.0,52.234709,10.871111,15.935,44.0775,52.3425,60.63375,81.48
Apparent Temperature (Avg) (Past),1514.0,52.250386,10.844270,19.145,44.0775,52.3700,60.63375,81.48
Rented Bikes,1514.0,248.739762,132.553232,12.000,92.0000,302.0000,357.00000,838.00
Rented Bikes (Future),1514.0,248.575958,132.666525,12.000,92.0000,302.0000,357.00000,838.00

In [6]:
#target variable
y = features['Rented Bikes'].tolist()
y

[281,
 279,
 274,
 161,
 270,
 62,
 48,
 252,
 311,
 305,
 264,
 306,
 57,
 42,
 295,
 295,
 290,
 270,
 270,
 80,
 71,
 269,
 294,
 279,
 296,
 274,
 33,
 43,
 277,
 255,
 288,
 248,
 249,
 50,
 64,
 297,
 308,
 289,
 292,
 229,
 52,
 60,
 262,
 279,
 290,
 239,
 220,
 53,
 40,
 290,
 290,
 254,
 306,
 281,
 63,
 76,
 286,
 302,
 305,
 298,
 303,
 87,
 70,
 312,
 307,
 311,
 349,
 307,
 65,
 58,
 247,
 327,
 308,
 305,
 313,
 54,
 71,
 279,
 314,
 313,
 221,
 301,
 69,
 32,
 283,
 266,
 284,
 257,
 49,
 43,
 65,
 81,
 295,
 312,
 294,
 273,
 89,
 84,
 310,
 323,
 330,
 324,
 282,
 38,
 41,
 302,
 346,
 356,
 342,
 332,
 75,
 67,
 334,
 341,
 312,
 329,
 315,
 36,
 29,
 46,
 293,
 317,
 310,
 284,
 92,
 82,
 339,
 358,
 382,
 264,
 301,
 88,
 100,
 271,
 329,
 286,
 335,
 335,
 66,
 83,
 92,
 331,
 296,
 334,
 261,
 101,
 56,
 269,
 331,
 305,
 83,
 310,
 95,
 102,
 332,
 378,
 378,
 381,
 309,
 96,
 95,
 361,
 411,
 367,
 337,
 323,
 93,
 79,
 291,
 348,
 371,
 339,
 312,
 124,
 97,
 360,
 388,
 421,
 350,
 352,
 117,
 90,
 375,
 386,
 451,
 838,
 359,
 136,
 98,
 268,
 368,
 297,
 378,
 316,
 123,
 132,
 298,
 400,
 406,
 375,
 228,
 106,
 53,
 316,
 349,
 355,
 342,
 302,
 108,
 114,
 322,
 346,
 369,
 775,
 327,
 126,
 158,
 374,
 365,
 352,
 337,
 266,
 109,
 110,
 339,
 337,
 338,
 329,
 303,
 149,
 100,
 229,
 310,
 271,
 254,
 287,
 104,
 95,
 52,
 249,
 335,
 334,
 356,
 95,
 80,
 306,
 365,
 381,
 346,
 354,
 105,
 91,
 320,
 323,
 287,
 312,
 342,
 105,
 107,
 308,
 206,
 351,
 300,
 352,
 100,
 102,
 324,
 368,
 366,
 382,
 356,
 91,
 108,
 333,
 304,
 350,
 384,
 368,
 102,
 98,
 364,
 368,
 357,
 346,
 325,
 92,
 96,
 365,
 402,
 175,
 355,
 312,
 63,
 80,
 359,
 331,
 181,
 292,
 159,
 81,
 90,
 343,
 355,
 221,
 333,
 286,
 49,
 84,
 323,
 344,
 346,
 362,
 310,
 39,
 71,
 320,
 329,
 344,
 294,
 309,
 48,
 51,
 298,
 271,
 332,
 336,
 288,
 73,
 52,
 295,
 300,
 362,
 332,
 297,
 63,
 59,
 283,
 291,
 328,
 297,
 274,
 42,
 44,
 302,
 293,
 285,
 324,
 258,
 58,
 55,
 260,
 231,
 205,
 64,
 77,
 51,
 44,
 57,
 111,
 73,
 65,
 38,
 26,
 29,
 283,
 308,
 310,
 227,
 296,
 38,
 58,
 313,
 308,
 333,
 339,
 282,
 72,
 71,
 326,
 327,
 345,
 319,
 238,
 71,
 63,
 336,
 316,
 321,
 309,
 288,
 50,
 43,
 321,
 313,
 327,
 332,
 286,
 52,
 51,
 279,
 305,
 317,
 318,
 307,
 52,
 52,
 314,
 305,
 287,
 295,
 245,
 49,
 50,
 310,
 353,
 347,
 334,
 286,
 52,
 52,
 330,
 305,
 302,
 350,
 303,
 54,
 63,
 372,
 374,
 267,
 336,
 310,
 81,
 72,
 380,
 365,
 359,
 369,
 273,
 80,
 80,
 379,
 362,
 363,
 342,
 72,
 53,
 36,
 55,
 296,
 343,
 361,
 300,
 74,
 89,
 339,
 337,
 324,
 312,
 298,
 74,
 68,
 368,
 352,
 376,
 377,
 196,
 66,
 92,
 344,
 404,
 424,
 440,
 312,
 72,
 52,
 344,
 377,
 374,
 401,
 319,
 90,
 66,
 67,
 380,
 437,
 410,
 368,
 111,
 118,
 404,
 263,
 351,
 399,
 382,
 84,
 104,
 416,
 400,
 338,
 385,
 385,
 89,
 90,
 369,
 431,
 398,
 394,
 387,
 84,
 103,
 70,
 163,
 325,
 341,
 319,
 91,
 133,
 395,
 376,
 391,
 395,
 392,
 101,
 55,
 350,
 338,
 392,
 373,
 298,
 85,
 103,
 169,
 376,
 374,
 314,
 334,
 92,
 104,
 369,
 391,
 370,
 391,
 296,
 73,
 105,
 380,
 436,
 425,
 406,
 355,
 88,
 106,
 365,
 372,
 353,
 410,
 351,
 84,
 97,
 384,
 397,
 403,
 408,
 312,
 89,
 116,
 353,
 399,
 274,
 350,
 309,
 112,
 156,
 313,
 313,
 356,
 367,
 319,
 133,
 130,
 350,
 380,
 374,
 351,
 335,
 98,
 112,
 372,
 389,
 361,
 384,
 221,
 63,
 100,
 347,
 366,
 343,
 362,
 264,
 93,
 77,
 90,
 384,
 381,
 375,
 367,
 61,
 106,
 414,
 393,
 402,
 386,
 169,
 77,
 85,
 370,
 385,
 407,
 383,
 385,
 111,
 101,
 371,
 376,
 412,
 398,
 374,
 60,
 82,
 403,
 423,
 389,
 383,
 339,
 79,
 87,
 399,
 399,
 357,
 324,
 361,
 83,
 62,
 345,
 370,
 383,
 368,
 338,
 90,
 89,
 342,
 365,
 381,
 361,
 311,
 56,
 78,
 372,
 391,
 393,
 412,
 307,
 63,
 51,
 283,
 386,
 179,
 355,
 335,
 37,
 54,
 323,
 351,
 382,
 374,
 325,
 53,
 39,
 302,
 365,
 367,
 390,
 340,
 77,
 60,
 327,
 372,
 380,
 366,
 312,
 66,
 61,
 357,
 365,
 376,
 388,
 344,
 34,
 60,
 367,
 357,
 382,
 371,
 316,
 44,
 57,
 321,
 340,
 267,
 243,
 127,
 17,
 80,
 38,
 49,
 73,
 77,
 68,
 22,
 20,
 34,
 221,
 326,
 335,
 288,
 59,
 43,
 575,
 372,
 359,
 328,
 253,
 23,
 29,
 252,
 393,
 354,
 358,
 297,
 38,
 58,
 359,
 361,
 363,
 353,
 295,
 70,
 39,
 360,
 300,
 315,
 357,
 304,
 56,
 46,
 367,
 378,
 369,
 321,
 244,
 45,
 38,
 309,
 328,
 335,
 309,
 289,
 63,
 67,
 362,
 366,
 383,
 306,
 275,
 37,
 55,
 315,
 358,
 339,
 351,
 227,
 92,
 32,
 358,
 361,
 312,
 343,
 317,
 81,
 56,
 406,
 379,
 328,
 359,
 315,
 71,
 76,
 381,
 367,
 358,
 356,
 315,
 65,
 87,
 374,
 374,
 365,
 392,
 316,
 91,
 110,
 365,
 381,
 340,
 288,
 51,
 58,
 63,
 61,
 370,
 378,
 380,
 325,
 66,
 71,
 379,
 374,
 366,
 363,
 299,
 64,
 57,
 57,
 401,
 364,
 351,
 339,
 81,
 78,
 374,
 366,
 423,
 399,
 338,
 81,
 79,
 310,
 404,
 293,
 344,
 270,
 82,
 84,
 404,
 421,
 406,
 421,
 346,
 71,
 77,
 73,
 380,
 387,
 376,
 296,
 93,
 84,
 389,
 152,
 390,
 369,
 321,
 94,
 94,
 388,
 406,
 438,
 458,
 377,
 96,
 88,
 398,
 412,
 401,
 421,
 349,
 73,
 97,
 389,
 340,
 373,
 381,
 366,
 121,
 118,
 359,
 404,
 438,
 417,
 341,
 103,
 110,
 399,
 359,
 355,
 436,
 321,
 86,
 83,
 418,
 401,
 402,
 393,
 318,
 59,
 90,
 337,
 414,
 347,
 358,
 296,
 61,
 95,
 363,
 301,
 240,
 301,
 289,
 87,
 110,
 347,
 387,
 166,
 376,
 334,
 79,
 119,
 357,
 403,
 379,
 221,
 245,
 104,
 99,
 267,
 352,
 321,
 343,
 253,
 80,
 89,
 134,
 368,
 320,
 345,
 326,
 91,
 71,
 337,
 362,
 363,
 381,
 191,
 73,
 62,
 335,
 369,
 391,
 390,
 307,
 65,
 76,
 367,
 419,
 378,
 402,
 353,
 95,
 79,
 307,
 428,
 396,
 401,
 267,
 73,
 72,
 371,
 375,
 405,
 334,
 336,
 67,
 92,
 374,
 418,
 369,
 404,
 350,
 92,
 ...]

In [7]:
len(y)

1514

In [8]:
#transorm non-numerical labels to numerical labels
le = LabelEncoder()
features.loc[:,'Month'] = le.fit_transform(features['Month'])
features.loc[:,'Season'] = le.fit_transform(features['Season'])
features.loc[:,'Weekday'] = le.fit_transform(features['Weekday'])
features.loc[:,'Holiday'] = le.fit_transform(features['Holiday'])
features.loc[:,'Daily Weather'] = le.fit_transform(features['Daily Weather'])
features.loc[:,'Daily Weather (Past)'] = le.fit_transform(features['Daily Weather (Past)'])
features.head()

,Month,Season,Weekday,Holiday,Daily Weather,Daily Weather (Past),Humidity,Humidity (Past),Windspeed,Windspeed (Past),Apparent Temperature (Avg),Apparent Temperature (Avg) (Past),Rented Bikes,Rented Bikes (Future)
0,4,3,1,0,3,2,0.88,0.94,1.59,0.55,46.740,36.295,281,279
1,4,3,5,0,3,3,0.86,0.88,2.07,1.59,42.150,46.740,279,274
2,4,3,6,0,0,3,0.86,0.86,4.13,2.07,45.450,42.150,274,161
3,4,3,4,0,4,0,0.87,0.86,3.60,4.13,46.200,45.450,161,270
4,4,3,0,0,3,4,0.81,0.87,7.43,3.60,56.085,46.200,270,62

In [9]:
features.shape

(1514, 14)

In [10]:
#Feature Matrix
X=features.loc[:,['Month','Season','Weekday','Daily Weather','Daily Weather (Past)','Humidity','Humidity (Past)','Windspeed', 'Windspeed (Past)', 'Apparent Temperature (Avg)','Apparent Temperature (Avg) (Past)','Rented Bikes (Future)']]
X.head()

,Month,Season,Weekday,Daily Weather,Daily Weather (Past),Humidity,Humidity (Past),Windspeed,Windspeed (Past),Apparent Temperature (Avg),Apparent Temperature (Avg) (Past),Rented Bikes (Future)
0,4,3,1,3,2,0.88,0.94,1.59,0.55,46.740,36.295,279
1,4,3,5,3,3,0.86,0.88,2.07,1.59,42.150,46.740,274
2,4,3,6,0,3,0.86,0.86,4.13,2.07,45.450,42.150,161
3,4,3,4,4,0,0.87,0.86,3.60,4.13,46.200,45.450,270
4,4,3,0,3,4,0.81,0.87,7.43,3.60,56.085,46.200,62

In [11]:
#Split into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
#initialize MLPRegressor
mlp = MLPRegressor(
    hidden_layer_sizes=(50,),  activation='logistic', solver='lbfgs', alpha=0.001, batch_size='auto',
    learning_rate='constant', learning_rate_init=0.01, power_t=0.5, max_iter=1000, shuffle=True,
    random_state=9, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True,
    early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)

m = mlp.fit(X_train,y_train)

predictions = m.predict(X_test)

In [13]:
#Print scores
print("Training set score: %f" % m.score(X_train, y_train))
print("Test set score: %f" % m.score(X_test, y_test))

Training set score: 0.956181
Test set score: 0.625032

In [14]:
#Compare predicted and actual values
df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})  
df.head()

   Actual   Predicted
0     274  299.045552
1     287  313.878509
2      69   -7.730330
3      29  138.816319
4     368  383.654893

In [15]:
#Returns the coefficient of determination R^2 of the prediction
"The accuracy of the model is {0:.3f}".format(mlp.score(X_train,y_train))

'The accuracy of the model is 0.956'

## Accuracy
Recommended from [Sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html#sklearn.neural_network.MLPRegressor)<br>
```python
score(X, y, sample_weight=None)
```
Returns the coefficient of determination R^2 of the prediction.

The coefficient R^2 is defined as (1 - u/v), where u is the residual sum of squares ((y_true - y_pred) ** 2).sum() and v is the total sum of squares ((y_true - y_true.mean()) ** 2).sum(). The best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse). A constant model that always predicts the expected value of y, disregarding the input features, would get a R^2 score of 0.0.

In [16]:
#accuracy formular
a=df.loc[:,'Actual']
b=df.loc[:,'Predicted']
c= b.mean()
u= ((a-b)**2).sum()
v= ((a-c)**2).sum()
r= (1-(u/v))
result = sqrt(r)
result

0.7909585812749443

## RMSE = Root Mean Square Error 
is a frequently used measure of the differences between values predicted by a model. 

It is the standard deviation of prediction errors.<br>
[RMSE](https://www.statisticshowto.datasciencecentral.com/rmse/) answers the question of how concentrated the data is around the line of best fit.
![](img/rmse.png)
Where:<br>
f = forecasts (expected values or unknown results)<br>
o = observed values (known results)

In [17]:
#RMSE version 1
a=df.loc[:,'Actual']
b=df.loc[:,'Predicted']
rmse=sqrt(mean_squared_error(a, b))  
"The root mean square error of the model is {0:.3f}".format(rmse)

'The root mean square error of the model is 82.863'

In [18]:
#RMSE version 2
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse = rmse(a,b)
"The root mean square error of the model is {0:.3f}".format(rmse)

'The root mean square error of the model is 82.863'

In [19]:
##RMSE version 3
n = len(b)
rmse = np.linalg.norm(b - a) / np.sqrt(n)
"The root mean square error of the model is {0:.3f}".format(rmse)

'The root mean square error of the model is 82.863'